html {
  -webkit-text-size-adjust: none;
  touch-action: manipulation;
  scroll-behavior: smooth;
}

body {
  background-color: $white;

  &.not-scroll {
    overflow: hidden;
  }
}

.container {
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
  @media (max-width: 1240px) {
    max-width: 960px;
  }
  @media (max-width: 960px) {
    max-width: 752px;
  }
  @media (max-width: 640px) {
    max-width: 100%;
  }
}

* {
  box-sizing: border-box;
}

img {
  display: inline-block;
  max-width: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  position: relative;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: $white;
}

input, select, textarea, button {
  outline: none !important;
}

a {
  text-decoration: none;
}


h1, h2 {
  font-family: 'Roboto Slab', sans-serif;
}


*.focus,
*:active:focus, *:focus {
  outline: none;
  box-shadow: none;
  background-color: transparent;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.whatsapp {
  position: fixed;
  z-index: 8;
  bottom: 65px;
  left: 8px;
  display: block;
  @media (min-width: 640px) {
    display: none;
  }

  img {
    width: 64px;
    height: 64px;
    animation: blink 1.0s linear infinite;

    @keyframes blink {
      0% {
        transform: scale(1.1);
      }
      50% {
        transform: scale(1);
      }
      100% {
        transform: scale(1.1);
      }
    }
  }

}