.basket-page {
  padding: 90px 0 30px;
  position: relative;
  background: #ffffff;
  @media (min-width: 960px) {
    padding: 110px 0 60px;
  }

  h1 {
    font-family: 'Roboto Slab', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 42px;
    color: #000000;
    @media (min-width: 960px) {
      font-size: 38px;
      line-height: 42px;
    }
  }

  .basket-head {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .clear-cart {
      @media (min-width: 960px) {
        display: none;
      }
    }
  }

  .basket-content-title {
    font-style: normal;
    font-weight: bold;
    color: #000000;
    text-align: left;
    font-size: 28px;
    line-height: 42px;
  }

  .basket-page-head {
    @media (min-width: 961px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: #F1F2F2;
      border-radius: 5px;
      padding: 20px 25px;
      margin: 0 -25px;
    }
  }

  .delivery-info {
    background: #F1F2F2;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    align-items: center;
    margin: 0 0 25px;
    @media (min-width: 961px) {
      width: max-content;
      justify-content: center;
      margin: 0;
      background: transparent;
      border-radius: 0;

      &:before {
        content: '!';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #A3A3A3;
        border: 1px solid #A3A3A3;
        box-sizing: border-box;
        width: 29px;
        height: 29px;
        min-width: 29px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 10px 0 0;
        border-radius: 50%;
      }
    }

    p {
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #939598;
      max-width: 300px;
    }
  }

  .basket-info {
    display: flex;
    align-items: center;

    .basket-info-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0 20px 0 0;

      &:last-child {
        margin: 0;
      }

      @media (min-width: 960px) {
        margin: 0 60px 0 0;
      }


      .gray-text {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: #C2C2C2;
        display: block;
        margin: 0 0 10px;
      }

      .basket-info-quantity {
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 22px;
        color: #939598;
      }

      .basket-info-price {
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 22px;
        color: #231F20;
      }
    }

    .red-btn {
      margin: 0;
      width: 195px;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 18px;
      display: none;
      @media (min-width: 960px) {
        display: flex;
      }
    }
  }

  .clear-cart {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #C2C2C2;
    transition: ease .3s;

    &:hover {
      color: #131313;
    }

    &:before {
      content: '';
      background-image: url("../img/svg/clear.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 16px;
      width: 16px;
      min-width: 16px;
      margin: 0 5px 0 0;
    }
  }

  .basket-content {
    margin: 40px 0;
  }

  .basket-content-row {
    display: grid;
    grid-gap: 15px 10px;
    grid-template-columns: 1fr 3fr 1fr;
    border-bottom: 1px solid #E8E8E8;
    padding: 0 0 20px;
    margin: 0 0 20px;
    align-items: flex-start;
    grid-template-areas:
        'foto title other'
        'price time quantity';
    @media (min-width: 960px) {
      align-items: center;
      grid-template-areas: none;
      grid-gap: 20px;
      grid-template-columns: 1fr 4fr 2fr 2fr 2fr 3fr;

    }

    &.head {
      border-bottom: 0;
      display: none;
      @media (min-width: 960px) {
        display: grid;
      }

      .basket-content-title, .basket-content-item {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: #C2C2C2;
        transition: ease .3s;
      }

      .clear-cart {
        &:hover {
          color: #131313;
        }
      }
    }

    .basket-content-img {
      grid-area: foto;
      @media (min-width: 960px) {
        grid-area: auto;
      }

      img {
        width: 75px;
        min-width: 75px;
        height: 75px;
        object-fit: cover;
        border-radius: 5px;
      }
    }

    .basket-content-title {
      grid-area: title;
      font-style: normal;
      font-weight: normal;
      color: #6A6A6A;
      font-size: 14px;
      line-height: 18px;
      @media (min-width: 960px) {
        grid-area: auto;
        font-size: 18px;
        line-height: 22px;
      }
    }

    .basket-content-item {
      &.basket-content-time {
        grid-area: time;
        @media (min-width: 960px) {
          grid-area: auto;
        }
      }

      &.basket-content-quantity {
        grid-area: quantity;
        @media (min-width: 960px) {
          grid-area: auto;
        }
      }

      input {
        background: #D5DAE0;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        height: 30px;
        color: #231F20;
        border-radius: 50%;
        margin: 0 8px;
        padding: 2px 0 0;
      }
    }

    .basket-content-price {
      grid-area: price;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      color: #231F20;
      min-width: 90px;
      @media (min-width: 960px) {
        grid-area: auto;
      }
    }

    .gray-text {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 22px;
      color: #C2C2C2;
      @media (min-width: 960px) {
        display: none;
      }
    }

    .basket-content-other {
      grid-area: other;
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-end;
      justify-content: space-between;

      @media (min-width: 960px) {
        grid-area: auto;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
      }

      .product-favorite {
        height: 20px;
        width: 20px;
        min-width: 20px;
        margin: 30px 0 0;
        @media (min-width: 960px) {
          margin: 0 30px 0 0;
        }
      }

      .delete {
        background-image: url("../img/svg/delete.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 16px;
        width: 16px;
        min-width: 16px;
        cursor: pointer;
      }
    }
  }
}

.recommendation {
  margin: 80px 0 0;

  .recommendation-title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #231F20;
    margin: 0 0 15px;
  }

  .swiper-button-prev, .swiper-button-next {
    top: -20px;
  }
}

.mobile-basket-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.16);
  @media (min-width: 960px) {
    display: none;
  }

  .mobile-basket-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;

    .mobile-basket-price {
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      color: #231F20;
    }

    .gray-text {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 22px;
      color: #C2C2C2;
    }

    .red-btn {
      width: 195px;
      margin: 0;
    }
  }
}