.banner {
  padding: 90px 0 30px;
  position: relative;
  background: #ffffff;
  @media (min-width: 960px) {
    padding: 150px 0 30px;
  }

  &:hover {
    .banner-next, .banner-prev {
      visibility: visible;
      opacity: 1;
    }
  }

  &:after {
    position: absolute;
    content: '';
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #F9F9F9 100%);
    width: 100%;
    height: 25%;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .banner-block {
    display: grid;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;

    @media (min-width: 640px) {
      margin: 0 auto;
      padding: 0 10%;
    }
    @media (min-width: 960px) {
      grid-template-columns: 1fr 1fr;
      direction: rtl;
      grid-gap: 20px;
      max-width: 100%;
      margin: 0;
      padding: 0;
    }

    .banner-content {
      margin: 0;
      text-align: center;
      width: 100%;
      grid-template-columns: 1fr 1fr;
      direction: ltr;

      @media (min-width: 960px) {
        text-align: left;
      }
    }

    img {
      display: block;
      margin: 0 auto;
      @media (min-width: 960px) {
        margin: 0;
        width: 100%;
        height: auto;
      }
    }

    h1, .banner-title {
      font-family: 'Roboto Slab', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: 40px;
      text-align: center;
      color: #000000;
      margin: 0 0 15px;
      @media (min-width: 960px) {
        text-align: left;
        margin: 0 0 20px;
      }
      @media (min-width: 1240px) {
        font-size: 50px;
        line-height: 66px;
      }
    }

    .banner-text {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 140%;
      text-align: center;
      color: #131313;
      margin: 0 0 30px;
      @media (min-width: 960px) {
        text-align: left;
      }
    }
  }

  .banner-slider {
    padding: 0 0 50px;

    .swiper-wrapper {
      align-items: center;
    }
  }

  .banner-next {
    background-image: url("../img/svg/next-r.svg");
    height: 25px;
    width: 25px;
    min-width: 25px;
    position: relative;
    margin: 0 0 0 20px;
    visibility: hidden;
    opacity: 0;
    transition: ease .3s;

    &.swiper-button-disabled {
      display: block;
      opacity: 1;
      background-image: url("../img/svg/prev-g.svg");
      transform: rotate(180deg);
    }
  }

  .banner-prev {
    background-image: url("../img/svg/next-r.svg");
    transform: rotate(180deg);
    height: 25px;
    width: 25px;
    min-width: 25px;
    position: relative;
    margin: 0 20px 0 0;
    visibility: hidden;
    opacity: 0;
    transition: ease .3s;

    &.swiper-button-disabled {
      transform: rotate(0);
      opacity: 1;
      display: block;
      background-image: url("../img/svg/prev-g.svg");
    }
  }

  .banner-buttons {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .swiper-pagination {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .swiper-pagination-bullet {
      opacity: 1;
      background: #D5DAE0;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin: 2px 5px 0;

      &.swiper-pagination-bullet-active {
        background: #939598;
        width: 15px;
        height: 15px;
        margin: 0 5px;
      }
    }
  }
}

.main-buttons-flex {
  @media (min-width: 640px) {
    display: flex;
    justify-content: center;
  }
  @media (min-width: 960px) {
    justify-content: flex-start;
  }

  .white-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: normal;
    padding: 0 15px;
    font-size: 18px;
    line-height: 18px;
    color: #EE3D48;
    height: 40px;
    border-radius: 6px;
    width: 100%;
    border: 1px solid #EE3D48;
    transition: ease .3s;
    margin: 15px 0 0;
    cursor: pointer;
    @media (min-width: 640px) {
      border: 1px solid transparent;
      max-width: 240px;
      margin: 0;
      &.line {
        border: 1px solid #EE3D48;

        &:hover {
          background-color: #EE3D48;
          color: #FFFFFF;
        }
      }
    }

    &:hover {
      border: 1px solid #EE3D48;
    }

    &.show-video:before, &.banner-video-btn:before {
      content: '';
      background-image: url("../img/svg/play-small.svg");
    }

    &.red {
      color: #ffffff;
      background-color: #EE3D48;
      margin: 0;
      @media (min-width: 640px) {
        margin: 0 15px 0 0;
      }

      &:before {
        content: '';
        background-image: url("../img/svg/play-small-w.svg");
      }

      &:hover {
        color: #EE3D48;
        background-color: #ffffff;

        &:before {
          content: '';
          background-image: url("../img/svg/play-small.svg");
        }
      }
    }


    &:before {
      content: none;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 17px;
      width: 17px;
      margin: 0 10px 0 0;

    }
  }

  .red-btn {
    @media (min-width: 640px) {
      max-width: 240px;
      margin: 0 15px 0 0;
    }
  }
}

.category-banner {
  background-color: $white;
  padding: 90px 0 30px;
  position: relative;
  @media (min-width: 960px) {
    padding: 150px 0 60px;
  }
}

.block-products {
  padding: 60px 0 30px;
  @media (min-width: 960px) {
    padding: 80px 0 40px;
  }

  .container {
    @media (max-width: 640px) {
      padding: 0;
    }
  }

  .products-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media (min-width: 640px) {
      grid-gap: 20px;
      @media (min-width: 960px) {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    .products__item {
      background: $white;
      box-sizing: border-box;
      position: relative;
      transition: ease .3s;

      &:hover {
        .more-hover {
          @media (min-width: 640px) {
            opacity: 1;
            visibility: visible;
            height: max-content;
            padding: 10px 0 0;
          }

        }

        .product-img {
          .second {
            display: block;
          }

          .first {
            display: none;
          }
        }
      }

      .more-hover {
        opacity: 0;
        visibility: hidden;
        height: 0;
        transition: ease .3s;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 18px;
        color: $red;
        display: block;
      }

      .product-title {
        font-style: normal;
        font-weight: normal;
        line-height: 18px;
        color: #FFFFFF;
        padding: 0;
        transition: ease .3s;
        font-size: 14px;
        display: inline-block;
        @media (min-width: 640px) {
          font-size: 18px;
        }

      }

      .products__item-content {
        position: absolute;
        bottom: 5px;
        left: 15px;
        z-index: 2;
        @media (min-width: 640px) {
          bottom: 20px;
          left: 20px;
        }
      }

      .product-img {
        position: relative;
        overflow: hidden;
        transition: .3s;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (min-width: 640px) {
          border-radius: 5px;
        }

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          background: linear-gradient(180deg, rgba(0, 0, 0, 0) 43.64%, rgba(0, 0, 0, 0.75) 100%);
          transition: .3s;
        }

        img {
          width: 100%;
          transition: .3s;
          height: auto;

          &.first {
            display: block;
          }

          &.second {
            display: none;
          }
        }
      }
    }
  }
}

.about-fotobudka {
  padding: 60px 0 30px;
  position: relative;
  @media (min-width: 640px) {
    padding: 80px 0 0;
  }

  h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    color: #6A6A6A;
    margin: 0 0 15px;
  }

  .flex {
    margin: 40px 0 0;
    grid-gap: 20px;
    display: grid;
    overflow: hidden;
    @media (min-width: 960px) {
      grid-template-columns: 7fr 6fr;
      direction: rtl;
    }
    @media (min-width: 1240px) {
      grid-template-columns: 2fr 1fr;
    }

    .left {
      direction: ltr;
      @media (min-width: 640px) {
        max-width: 75%;
        margin: 0 auto;
      }
      @media (min-width: 960px) {
        max-width: 100%;
        margin: 0;
      }

      p {
        font-size: 14px;
        line-height: 130%;
        margin: 0 0 12px;

        @media (min-width: 960px) {
          font-size: 16px;
          line-height: 130%;
          margin: 0 0 20px;
        }
      }

      .red-btn {
        margin: 20px 0 0;
        @media (min-width: 960px) {
          margin: 30px 0 0;
        }
      }
    }

    .right {
      width: 100%;
      border-radius: 5px;
      overflow-y: auto;
      direction: ltr;

      .about-fotobudka-images {
        display: flex;
        width: max-content;
        @media (min-width: 960px) {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 15px;
        }

        @media (min-width: 1240px) {
          grid-template-rows: auto;
          grid-template-columns: repeat(3, 1fr);
        }

        img {
          width: 235px;
          height: 143px;
          display: block;
          margin: 0 15px 0 0;
          @media (min-width: 960px) {
            margin: 0;
          }


          &:last-child {
            margin: 0;
          }
        }
      }
    }
  }
}

.step-block {
  margin: 60px 0 0;

  .step-list {
    display: grid;
    grid-gap: 20px;
    @media (min-width: 960px) {
      grid-template-columns: repeat(4, 1fr);
    }

    .step-item {
      border: 1px solid #C2C2C2;
      box-sizing: border-box;
      border-radius: 5px;
      padding: 20px;
      display: flex;
      align-items: flex-start;
      position: relative;
      @media (min-width: 560px) {
        align-items: center;
      }
      @media (min-width: 960px) {
        display: block;
        padding: 20px;
      }

      &:last-child:after {
        content: none;
      }

      &:after {
        content: '';
        background-image: url("../img/svg/step.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 22px;
        height: 12px;
        position: absolute;
        bottom: -16px;
        left: 50%;
        transform: translateX(-50%) rotate(90deg);
        @media (min-width: 960px) {
          right: -22px;
          top: 50%;
          transform: translateY(-50%);
          bottom: auto;
          left: auto;
        }
      }

      .step-circle {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FAFAFA;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 16px;
        text-align: center;
        color: #EE3D48;
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.16);
        margin: 0 15px 0 0;
        height: 50px;
        width: 50px;
        min-width: 50px;
        border-radius: 50%;
        @media (min-width: 960px) {
          margin: 0 auto 20px;
        }

        img {
          height: 30px;
          width: 30px;
        }
      }

      .step-text {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        text-align: left;
        color: #6A6A6A;
        margin: 0;
        @media (min-width: 960px) {
          text-align: center;

        }
      }
    }
  }
}

.promotion {
  margin: 30px 0 60px;
  @media (min-width: 640px) {
    margin: 40px 0 80px;
  }
}

.use-budka {
  position: relative;


  .use-accordion-js {
    display: block;
    @media (min-width: 640px) {
      display: none;
    }
  }

  .use-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 12px;
    @media (min-width: 640px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 960px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: 1240px) {
      grid-gap: 20px;
    }

    .use-item {
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      position: relative;
      height: 200px;
      @media (min-width: 640px) {
        display: flex;
      }
      @media (min-width: 960px) {
        height: 230px;
      }

      &:hover {
        .flip-card-inner {
          transform: rotateY(180deg);
        }
      }

      .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: ease 0.6s;
        transform-style: preserve-3d;
      }

      .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .flip-card-front {
        background: #FBFBFB;
        border: 1px solid #D5DAE0;
        box-sizing: border-box;
        border-radius: 5px;
      }

      .flip-card-back {
        transform: rotateY(180deg);
        background: #EE3D48;
        text-align: center;
        border-radius: 5px;

        p {
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          color: #FFFFFF;
          margin: 0;
        }

        span {
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 130%;
          color: #FFFFFF;
          opacity: 0.5;
        }
      }

      img {
        width: 78px;
        height: 78px;
      }

      .use-item-title {
        font-style: normal;
        font-weight: 600;
        text-align: center;
        color: $black;
        margin: 20px 0 0;
        font-size: 14px;
        line-height: 16px;
        opacity: 1;
        @media (min-width: 1240px) {
          font-size: 20px;
          line-height: 23px;
          margin: 10px 0 0;
        }
      }
    }
  }

  .promotion-item {
    cursor: pointer;

    img {
      object-fit: cover;
      border: 1px solid #D5DAE0;
      border-radius: 5px;
      width: 100%;
      height: 100%;
    }
  }

}

.feedback {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 320px;
  @media (min-width: 640px) {
    background-image: url(../img/jpg/feedback.jpg) !important;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.8;
  }

  .feedback-block {
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    text-align: center;
    z-index: 3;
    width: 100%;
    max-width: 280px;
    @media (min-width: 640px) {
      top: 60px;
      max-width: 500px;
    }

    h2 {
      font-style: normal;
      font-weight: bold;
      color: $white;
      margin: 0 0 12px;
      font-size: 24px;
      line-height: 36px;
      @media (min-width: 640px) {
        font-size: 38px;
        line-height: 36px;
        margin: 0 0 22px;
      }
    }

    p {
      font-style: normal;
      font-weight: normal;
      color: $white;
      opacity: 0.8;
      margin: 0 0 20px;
      font-size: 16px;
      line-height: 18px;
      @media (min-width: 640px) {
        font-size: 22px;
        line-height: 32px;
        margin: 0 0 40px;
      }
    }

    .red-btn {
      max-width: 214px;

      @media (min-width: 640px) {
        max-width: 276px;
      }
    }
  }
}

.content {
  padding: 90px 0;
  position: relative;
  border-bottom: 1px solid #D5DAE0;;
  @media (min-width: 960px) {
    padding: 150px 0 0;
  }

  .error {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    max-width: 660px;
    margin: 0 auto;

    img {
      width: 40%;
      @media (min-width: 960px) {
        width: 100%;
      }
    }

    .error-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      width: 100%;
      max-width: 800px;


      h1 {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        color: #000000;
        margin: 0 0 20px;
        @media (min-width: 960px) {
          font-size: 38px;
          line-height: 50px;
          margin: 0 0 10px;
        }
      }

      p {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: #1D1C21;
        margin: 0;
        @media (min-width: 960px) {
          font-size: 16px;
          line-height: 24px;
        }

        a {
          color: $red;
          border-bottom: 1px solid $red;
          margin: 0 4px;
        }
      }
    }
  }
}

.presentation {
  position: relative;

  .presentation-img {
    img {
      width: 100%;
      height: auto;
      max-height: 100vh;
      object-fit: cover;
    }
  }

  .presentation-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 90%;
    width: 100%;
    @media (min-width: 640px) {
      max-width: 490px;
    }
    @media (min-width: 960px) {
      top: 60px;
      transform: translate(-50%, 0);
    }

    .presentation-title {
      font-family: 'Roboto Slab', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      color: #FFFFFF;
      margin: 0 0 10px;
      @media (min-width: 960px) {
        font-size: 38px;
        line-height: 42px;
      }
    }

    .presentation-text {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: #C2C2C2;
      margin: 0 0 25px;
    }
  }
}
