
.product-section {
  padding: 30px 0 90px;
  position: relative;
  background: #FAFAFA;
  @media (max-width: 640px) {
    padding: 30px 0;
  }


  .product-subtitle {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #231F20;
    margin: 0;
  }

  &.favorite {
    padding: 90px 0 30px;
    @media (min-width: 960px) {
      padding: 150px 0 60px;
    }
  }

  .product-header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0 0 30px;
    position: relative;
    z-index: 4;
    @media (max-width: 640px) {
      display: block;
      margin: 0;
    }

    h2 {
      margin: 0;
      @media (max-width: 640px) {
        margin: 0 0 30px;
      }
    }


    .sort-block {
      @media (max-width: 640px) {
        margin: 0 0 20px;
      }

      .sort-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        max-width: 1200px;
        margin: 0 auto;
        height: inherit;
        @media (max-width: 1240px) {
          max-width: 960px;
        }
        @media (max-width: 960px) {
          max-width: 720px;
        }
        @media (max-width: 640px) {
          max-width: 100%;
          justify-content: flex-start;
        }
      }


      &.fixed {
        position: fixed;
        top: 64px;
        left: 0;
        width: 100%;
        height: 50px;
        align-items: center;
        background-color: $white;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        z-index: 7;
        border-top: 1px solid #F4F4F4;
      }

      p {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #282828;
        margin: 0;
      }
    }
  }
}

.sort {
  position: relative;
  width: max-content;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #A3A3A3;
  margin: 0 0 0 6px;
  border: 0;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;

  &:after {
    content: '';
    background-image: url(../img/svg/arrow-black.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 16px;
    min-width: 16px;
    height: 16px;
    margin: 0 0 0 10px;
    transition: .3s;
  }

  @media (min-width: 960px) {
    &:hover {
      &:after {
        background-image: url(../img/svg/arrow-red.svg);
      }

      span {
        color: #6A6A6A;
      }
    }
  }

  .sort-list {
    background: #FFFFFF;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: max-content;
    position: absolute;
    top: 25px;
    right: 0;
    height: max-content;
    padding: 16px 12px;
    z-index: 5;
    display: none;

    &.show {
      display: block;
    }

    .sort__item {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: $black;
      margin: 0 0 8px;
      padding: 0 0 8px;
      border-bottom: 1px solid #E5E5E5;
      cursor: pointer;
      transition: .3s;

      &:hover {
        color: $red;
      }

      &:last-child {
        border-bottom: 0;
        margin: 0;
        padding: 0;
      }
    }
  }

  span {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #A3A3A3;
    margin: 0 0 0 6px;
    border: 0;
    transition: .3s;
    cursor: pointer;
  }
}

.product-cart-block {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 640px) {
    grid-template-columns: repeat(1, 1fr);
  }
}


.image {
  overflow: hidden;

  img {
    width: 100%;
  }

  .swiper-container {
    width: 100%;
  }

  .swiper-wrapper {
    height: auto;
  }

  .swiper-slide {
    background: $white;
    width: 100%;
    cursor: zoom-in;
    max-width: 100%;
    max-height: 300px;
    height: 100%;
    overflow: hidden;
    border-radius: 4px;
    @media (max-width: 640px) {
      max-height: 100%;
    }

    img {
      width: 352px;
      height: 300px;
      border-radius: 4px;
      object-fit: cover;
      @media (max-width: 1200px) {
        width: 100%;
        height: auto;
      }
    }
  }
}

.complement {
  padding: 30px 0;

  .complement-list {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    margin: 0;
    padding: 0;
    @media (max-width: 960px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 640px) {
      grid-template-columns: repeat(2, 1fr);
    }

    .complement__item {
      display: flex;
      align-items: flex-start;

      &:before {
        content: '';
        background-image: url(../img/svg/complect-check.svg);
        width: 24px;
        min-width: 24px;
        height: 24px;
        margin: 0 4px 0 0;

      }

      h5 {
        margin: 4px 0 0;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: $other_black;
        @media (max-width: 640px) {
          font-size: 14px;
          line-height: 16px;
        }
      }
    }
  }
}

.fixed-mobile-filter {
  position: fixed;
  height: 50px;
  width: 100%;
  top: 64px;
  left: 0;
  background: #FFFFFF;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  z-index: 5;
  display: none;
  border-top: 1px solid #f4f4f4;

  &.fixed {
    display: block;
  }

  .filter-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;

    .sort-container {
      display: flex;
      align-items: center;

      .sort-btn {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #131313;
        @media (max-width: 960px) {
          display: none;
        }
      }
    }

    .sort:after {
      background-image: url(../img/svg/filter-arr.svg);
      transform: rotate(-90deg);
      margin: 0 0 5px 8px;
    }
  }

  .mobile-filter {
    position: relative;
    width: 50%;
    display: flex;
    align-items: center;
    @media (min-width: 960px) {
      height: 50px;
      width: 75%;
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      overflow: hidden;
    }

    .catalog-scroll {
      top: 5px;
    }
  }

  .gray-text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #A3A3A3;


    &.filter-text {
      display: inline-flex;
      align-items: center;
      cursor: pointer;
      height: 40px;
      width: 100%;
      @media (min-width: 960px) {
        display: none;
      }

      &:before {
        content: '';
        background-image: url(../img/svg/filter.svg);
        background-position: center;
        background-repeat: no-repeat;
        height: 20px;
        width: 20px;
        min-width: 20px;
        background-size: contain;
        margin: 0 8px 0 0;

      }
    }
  }

  .mobile-filter-block {
    @media (max-width: 960px) {
      max-height: 225px;
      overflow: auto;
    }
  }

  .mobile-filter-content {
    position: relative;
    overflow: auto;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    @media (max-width: 960px) {
      position: absolute;
      top: -5px;
      left: -15px;
      max-height: 290px;
      width: 100%;
      min-width: 230px;
      background-color: #FFFFFF;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
      display: none;
      padding: 0 15px 20px;
      z-index: 1;

    }

    .filter-hide {
      height: 50px;
      display: inline-flex;
      align-items: center;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: rgba(31, 31, 31, 0.5);
      cursor: pointer;
      width: 100%;
      @media (min-width: 960px) {
        display: none;
      }

      &:after {
        content: '';
        background-image: url(../img/svg/filter-arr.svg);
        background-size: contain;
        background-repeat: no-repeat;
        height: 11px;
        width: 6px;
        margin: 0 0 0 8px;
      }
    }

    &.show {
      display: block;
    }

    .mobile-filter-list {
      margin: 0;
      padding: 0;
      list-style: none;
      width: max-content;
      @media (min-width: 960px) {
        display: flex;
      }

      .mobile-filter-item {

        @media (min-width: 960px) {
          margin: 0 10px 0 0;
        }

        a {
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          color: #000000;
          padding: 8px 0;
          display: block;
          @media (min-width: 960px) {
            border: 1px solid #000000;
            box-sizing: border-box;
            border-radius: 4px;
            padding: 0 15px;
            height: 34px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: max-content;
          }
        }

        span {
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          padding: 8px 0;
          display: block;
          color: #EE3D48;
          @media (min-width: 960px) {
            border: 1px solid #000000;
            background: #000000;
            color: #FFFFFF;
            box-sizing: border-box;
            border-radius: 4px;
            padding: 0 15px;
            height: 34px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: max-content;
          }
        }
      }
    }
  }
}

.catalog-scroll {
  position: absolute;
  top: -3px;
  width: 70px;
  height: 40px;
  z-index: 9;
  cursor: pointer;
  display: none;

  &.next {
    right: -2px;
    background: url(../img/svg/more-category.svg) no-repeat center right, linear-gradient(90deg, rgba(255, 255, 255, 0) -3.06%, #FFFFFF 60.32%);
  }

  &.prev {
    left: -2px;
    transform: rotate(-180deg);
    background: url(../img/svg/more-category.svg) no-repeat center right, linear-gradient(90deg, rgba(255, 255, 255, 0) -3.06%, #FFFFFF 60.32%);
  }

  &.show {
    @media (min-width: 640px) {
      display: block;
    }
  }
}

.category-tab-container {
  position: relative;
  height: 40px;
  margin: 20px 0;
  overflow: auto;
  z-index: 3;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.category-tab-block {
  position: relative;
  display: flex;
  align-items: center;
  overflow-x: auto;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @media (max-width: 640px) {
    overflow-x: visible;
    height: 40px;
    padding: 0;
    max-width: 50%;
  }

}

.category-tab-list {
  display: flex;


  .category-tab-item {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    height: 34px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #000;
    margin: 0 10px 0 0;
    border-radius: 4px;
    width: max-content;

    &.active {
      background-color: #000;
      color: #FFFFFF;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}

.about-product {
  padding: 30px 0 60px;
  @media (min-width: 960px) {
    padding: 40px 0 70px;
  }

  h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #6A6A6A;
    margin: 0 0 15px;
    @media (min-width: 960px) {
      font-size: 24px;
      line-height: 28px;
    }
  }

  .about-product-flex {
    display: grid;
    grid-gap: 15px;
    margin: 0 0 80px;
    @media (min-width: 960px) {
      grid-gap: 20px;
      grid-template-columns: 3fr 2fr;
      &.two {
        grid-template-columns: 1fr 1fr;
      }
    }

    &:last-child {
      margin: 0;
    }

    .about-product-block {
      h2 {
        font-style: normal;
        font-weight: bold;
        color: #6A6A6A;
        margin: 0 0 15px;
        font-size: 18px;
        line-height: 21px;
        @media (min-width: 960px) {
          font-size: 24px;
          line-height: 28px;
        }
      }

      p {
        font-style: normal;
        font-weight: normal;
        color: #6A6A6A;
        margin: 0;
        font-size: 14px;
        line-height: 22px;
        @media (min-width: 960px) {
          font-size: 18px;
          line-height: 22px;
        }
      }
    }

    .about-product-images {
      display: flex;

      .about-product-img {
        margin: 0 10px 0 0;
        @media (min-width: 960px) {
          margin: 0 20px 0 0;
        }

        &:last-child {
          margin: 0;
        }
      }

      img {
        width: 100%;
        height: auto;
      }

      p {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        margin: 10px 0 0;
        text-align: center;
        color: #C2C2C2;
      }
    }
  }
}

.purpose {
  margin: 70px 0 0;

  .purpose-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    @media (min-width: 640px) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media (min-width: 960px) {
      grid-gap: 20px;
    }

    .purpose-item {
      background: #FBFBFB;
      border: 1px solid #D5DAE0;
      box-sizing: border-box;
      border-radius: 5px;
      padding: 10px;
      @media (min-width: 960px) {
        padding: 20px;
      }

      img {
        width: 68px;
        height: 68px;
        display: block;
        margin: 0 auto 10px;
        @media (min-width: 960px) {
          margin: 0 auto 20px;
        }
      }

      h4 {
        font-style: normal;
        font-weight: 600;
        text-align: center;
        font-size: 14px;
        line-height: 16px;
        color: #EE3D48;
        margin: 0 0 5px;
        @media (min-width: 960px) {
          font-size: 18px;
          line-height: 21px;
          margin: 0 0 10px;
        }
      }

      p {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #6A6A6A;
        margin: 0;
      }
    }
  }
}

.included-budka {
  width: 100%;
  margin: 70px 0 0;

  .included-list {
    list-style: none;
    margin: 0 -15px 0 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px 10px;
    @media (min-width: 640px) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media (min-width: 960px) {
      grid-gap: 40px 20px;
      display: flex;
      flex-wrap: wrap;

    }


    .included-item {
      text-align: center;

      @media (min-width: 960px) {
        max-width: 175px;
      }
      @media (min-width: 1240px) {
        max-width: 200px;
      }

      p {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #939598;
        margin: 0;
        @media (min-width: 1240px) {
          font-size: 16px;
          line-height: 19px;
        }
      }

      img {
        width: 50px;
        height: 50px;
        @media (min-width: 1240px) {
          width: 64px;
          height: 64px;
        }
      }
    }
  }
}

.example-brand {
  width: 100%;
  margin: 70px 0 0;

  p {
    font-style: normal;
    font-weight: normal;
    color: #6A6A6A;
    margin: 0 0 20px;
    font-size: 14px;
    line-height: 18px;
    max-width: 620px;
    @media (min-width: 960px) {
      font-size: 18px;
      line-height: 22px;

    }
  }

  .example-brand-slider {
    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 265px;
      height: 227px;

      img {
        width: 265px;
        height: 227px;
        border-radius: 5px;
      }
    }
  }

  .example-brand-container {
    position: relative;
  }

  .example-brand-next {
    background-image: url("../img/svg/next-w.svg");
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    width: 30px;
    height: 30px;
    min-width: 30px;
    border-radius: 50%;
    right: -10px;
    top: 50%;
    margin: 0;
    transform: translateY(-50%);
  }

  .example-brand-prev {
    background-image: url("../img/svg/next-w.svg");
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    transform: rotate(180deg) translateY(50%);
    width: 30px;
    height: 30px;
    min-width: 30px;
    border-radius: 50%;
    left: -10px;
    top: 50%;
    margin: 0;
  }
}

.product-detail-video-block {
  position: relative;
  background-image: url("../img/cry.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  width: 100%;
  height: 400px;
  @media (min-width: 640px) {
    height: 435px;
  }

  &:after {
    content: '';
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  .product-detail-video-content {
    max-width: 500px;
    width: 100%;
    position: absolute;
    z-index: 2;
    bottom: 50px;
    left: 50%;
    padding: 0 15px;
    transform: translateX(-50%);
    @media (min-width: 960px) {
      bottom: 60px;
    }

    .product-detail-video-title {
      font-family: 'Roboto Slab', sans-serif;
      font-style: normal;
      font-weight: bold;
      text-align: center;
      color: #FFFFFF;
      margin: 0 0 12px;
      font-size: 24px;
      line-height: 28px;
      @media (min-width: 960px) {
        font-size: 38px;
        line-height: 42px;

      }
    }

    .product-detail-video-text {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #C2C2C2;
      margin: 0 auto 30px;
      @media (min-width: 960px) {
        max-width: 70%;
      }
    }

    .red-btn {
      width: 228px;
    }
  }
}

.event-images-block {
  padding: 70px 0 55px;
  position: relative;

  &:after {
    position: absolute;
    content: '';
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #F9F9F9 100%);
    width: 100%;
    height: 25%;
    transform: rotate(-180deg);
    left: 0;
    right: 0;
    top: 0;
  }

  .event-images-container {
    position: relative;
    z-index: 1;
  }

  h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #6A6A6A;
    margin: 0 0 15px;
    @media (min-width: 960px) {
      font-size: 24px;
      line-height: 28px;
    }
  }

  .event-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    @media (min-width: 960px) {
      grid-gap: 20px;
      grid-template-columns: repeat(4, 1fr);
    }

    .event-image {
      cursor: zoom-in;
    }
  }

  .red-btn {
    margin: 20px auto 0;
    background: transparent;
    color: #EE3D48;
    width: 270px;

    &:hover {
      background: #EE3D48;
      color: #FFFFFF;
    }
  }
}

.brand-example {
  background: #F1F2F2;
  padding: 45px 0;

  &.other {
    background: #FFFFFF;

    .brand-example-flex {
      flex-direction: column-reverse;
      @media (min-width: 640px) {
        flex-direction: row;
      }

      .left {
        padding: 0 0 20px;
        @media (min-width: 640px) {
          padding: 0 0 0 20px;
        }
      }
    }
  }

  h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #6A6A6A;
    margin: 0 0 15px;
    @media (min-width: 960px) {
      font-size: 24px;
      line-height: 28px;
    }
  }

  .brand-example-text * {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    color: #6A6A6A;
    @media (min-width: 640px) {
      font-size: 18px;
      line-height: 22px;
    }
  }

  .brand-example-flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @media (min-width: 640px) {
      flex-direction: row;
    }

    .left {
      padding: 0 0 20px;
      @media (min-width: 640px) {
        width: 50%;
        padding: 0 45px 0 0;
      }
    }

    .right {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      height: max-content;
      grid-gap: 10px;
      @media (min-width: 640px) {
        width: 50%;
        grid-gap: 20px;
      }

      img {
        border-radius: 5px;
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }
}