.product-detail {
  padding: 90px 0 30px;
  position: relative;
  background: #ffffff;
  @media (min-width: 960px) {
    padding: 110px 0 60px;
  }

  &:after {
    position: absolute;
    content: '';
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #F9F9F9 100%);
    width: 100%;
    height: 25%;
    left: 0;
    right: 0;
    bottom: 0;
  }


  .product-detail-block {
    display: grid;
    grid-gap: 15px;
    position: relative;
    z-index: 1;
    @media (min-width: 960px) {
      grid-template-columns: 1fr 2fr;
      grid-gap: 20px;
      direction: rtl;
    }
  }

  .product-detail-head {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .product-favorite {
      margin: 5px 0 0 5px;
      @media (min-width: 960px) {
        margin: 15px 0 0 10px;
      }
    }
  }

  .product-detail-content {
    direction: ltr;
    @media (min-width: 960px) {
      padding: 0 30px 0 0;
    }

    h1 {
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      line-height: 32px;
      color: #000000;
      margin: 0 0 10px;
      @media (min-width: 960px) {
        font-size: 38px;
        line-height: 42px;
      }
    }

    .product-detail-text {
      margin: 0 0 40px;

      & * {
        font-size: 14px;
        line-height: 130%;
        color: #131313;
        margin: 0;
      }
    }

    .product-detail-include {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px 20px;
      margin: 0 0 40px;
      @media (min-width: 960px) {
        grid-template-columns: repeat(3, 1fr);
      }

      .product-detail-include-item {
        display: flex;
        align-items: center;
        grid-gap: 15px;
      }

      img {
        width: 40px;
        height: 40px;
        object-fit: contain;
      }

      p {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #131313;

      }
    }
  }

  .product-detail-slider {
    height: max-content;
    max-width: 455px;
    max-height: 405px;
    @media (min-width: 960px) {
      position: sticky;
      top: 90px;
      width: 455px;
    }

    img {
      width: 100%;
    }

    .swiper-container {

      @media (min-width: 960px) {
        width: 100%;
      }
    }

    .swiper-wrapper {
      height: auto;
    }

    .swiper-slide {
      background: $white;
      overflow: hidden;
      border-radius: 4px;
      width: 100% !important;
      max-width: 455px;;
      max-height: 405px;
      height: 100%;

      img {
        height: 100%;
        border-radius: 4px;
        object-fit: cover;
        width: 100%;
      }
    }
  }
}

.product-price {
  background: #D5DAE0;
  padding: 50px 0;
  margin: 0 0 20px;

  .product-price-title {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #231F20;
    margin: 0 0 20px;
    @media (min-width: 960px) {
      font-size: 24px;
      line-height: 28px;
      margin: 0 0 25px;
    }
  }

  .time {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;


    .time-item {
      margin: 0;
    }
  }

  .product-price-flex {
    display: grid;
    grid-gap: 30px;
    margin: 0 0 20px;
    @media (min-width: 960px) {
      grid-template-columns: 1fr 1fr 4fr 2fr;
      grid-gap: 0;
    }

  }

  .size-block {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #6A6A6A;

    &:before {
      content: '';
      background-image: url("../img/svg/info-g.svg");
      background-position: center;
      background-repeat: no-repeat;
      width: 17px;
      height: 17px;
      min-width: 17px;
      margin: 0 8px 0 0;
    }

  }


  .product-price-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &.option-price {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 2;
      grid-column-end: 3;
      @media (min-width: 960px) {
        grid-row-start: auto;
        grid-row-end: auto;
        grid-column-start: auto;
        grid-column-end: auto;
      }
    }

    &.time-block {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 3;
      @media (min-width: 961px) {
        grid-row-start: auto;
        grid-row-end: auto;
        grid-column-start: auto;
        grid-column-end: auto;
      }
    }

    .gray-text {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #C2C2C2;
      display: block;
      margin: 0 0 5px;
    }

    .product-price-block {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      color: #131313;
      @media (min-width: 960px) {
        font-weight: bold;
        font-size: 28px;
        line-height: 33px;
      }
    }

    .option-price-block {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      color: #A3A3A3;
      @media (min-width: 960px) {
        font-weight: bold;
        font-size: 28px;
        line-height: 33px;
      }
    }
  }

  .product-price-buttons {
    display: inline-flex;
    align-items: center;
    width: max-content;
    grid-column-start: 1;
    grid-column-end: 3;
    @media (min-width: 960px) {
      flex-direction: row-reverse;
      grid-column-start: auto;
      grid-column-end: auto;
    }
  }

  .red-btn {
    width: 228px;
    margin: 0 20px 0 0;
    @media (min-width: 960px) {
      margin: 0 0 0 20px;
    }
  }


}

.product-favorite {
  background-image: url(../img/svg/fav-d.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 24px;
  width: 24px;
  min-width: 24px;
  transition: ease .3s;
  cursor: pointer;

  &:hover {
    background-image: url(../img/svg/fav-d-hover.svg);
  }

  &.active {
    background-image: url(../img/svg/fav-d-active.svg);
  }
}

.options-block {
  .product-price-title {
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #231F20;
    @media (min-width: 960px) {
      font-size: 24px;
      line-height: 28px;
    }
  }
}

.option-section {
  margin: 60px 0 0;
}