{% load staticfiles %}
{% load webp_converter %}
<!DOCTYPE html>
<html lang="ru">
<head itemscope="itemscope" itemtype="http://schema.org/WPHeader">
    <meta charset="UTF-8"/>
    {% block meta %}

    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <meta name="facebook-domain-verification" content="ldbfn2glf81rucrdrb8j9ptft5tfsf"/>
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/favicons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/favicons/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicons/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favicons/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicons/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favicons/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/favicons/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/favicons/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicons/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'img/favicons/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicons/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'img/favicons/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'img/favicons//ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{% static 'css/styles.min.css' %}"/>
    <link rel="preload" as="style" href="{% static 'fonts/MuseoSans/stylesheet.css' %}"/>
    <link rel="stylesheet" href="{% static 'fonts/MuseoSans/stylesheet.css' %}" media="all" onload="this.media='all'"/>
    <noscript>
        <link rel="stylesheet" href="{% static 'fonts/MuseoSans/stylesheet.css' %}"/>
    </noscript>
    <link rel="stylesheet" href="https://engine-search.ru/static/css/style.css">

    <link rel="alternate" type="application/rss+xml"
          title="Фотобудки и фотозоны в аренду &#128247; на корпоративное мероприятие и свадьбу в Москве с доставкой"
          href="https://fotobudka-v-arendu.ru/rss/"/>
    <style type="text/css">
        .feedback {
            background-image: url({% static_webp 'img/jpg/feedback-mob.jpg' 85 %});
        }

        @media (min-width: 640px) {
            .feedback {
                background-image: url({% static_webp 'img/jpg/feedback-tab.jpg' 85 %});
            }
        }

        @media (min-width: 960px) {
            .feedback {
                background-image: url({% static_webp 'img/jpg/feedback.jpg' 85 %});
            }
        }
    </style>
</head>
<body>
{% include 'include/header.html' %}
{% block content %}
{% endblock %}
<div class="modal-search">
    <div class="modal-search-content">
        <span class="close-search-modal"></span>
        <form action="https://engine-search.ru/api/fotobudka/" class="search-form">
            <input class="input" type="text" name="q" autocomplete="off">
        </form>
        <ul class="modal-search-result">
        </ul>
    </div>
</div>
{% include 'include/footer.html' %}
{% include 'include/modal-base.html' %}
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (m, e, t, r, i, k, a) {
        m[i] = m[i] || function () {
            (m[i].a = m[i].a || []).push(arguments)
        };
        m[i].l = 1 * new Date();
        k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
    })(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
    ym(75537397, "init", {
        clickmap: true,
        trackLinks: true,
        accurateTrackBounce: true,
        webvisor: true,
        trackHash: true,
        triggerEvent: true
    });
</script>
<noscript>
    <div>
        <img src="https://mc.yandex.ru/watch/75537397"
             style="position:absolute; left:-9999px;" alt=""/>
    </div>
</noscript>
<!-- /Yandex.Metrika counter -->
<!-- Facebook Pixel Code -->
<script>
    !function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
            n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = '2.0';
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
        'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '3994160177347587');
    fbq('track', 'PageView');
</script>
<noscript>
    <img height="1" width="1" style="display:none"
         src="https://www.facebook.com/tr?id=3994160177347587&ev=PageView&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->
<script src="{% static 'js/lozad.min.js' %}"></script>
<script src="{% static 'js/swiper-bundle.min.js' %}"></script>
<script async src="{% static 'js/imask.min.js' %}"></script>
<script src="{% static 'js/scripts.min.js' %}"></script>
<script src="{% static 'js/yandex.min.js' %}"></script>
<script src="https://engine-search.ru/static/js/scripts.js"></script>
{% block js %}
{% endblock %}
</body>
</html>