{% load webp_converter %}
<section class="main-catalog" id="catalog">
    <div class="container">
        <h2 class="section-title">Каталог оборудования</h2>
        <div class="main-catalog-list">
            {% for item in category_header %}
                <div class="main-catalog-item">
                    <a class="main-catalog-link" href="{% url 'category' item.slug %}"></a>
                    <div class="main-catalog-img">
                        <img class="lozad" src="{% static_webp 'img/no-img.jpg' 90 %}" data-src="{{ item.image_main_crop.url }}" alt="{% if item.alt_main %}{{ item.alt_main }}{% else %}{{ item.title_main }}{% endif %}">
                    </div>
                    <div class="main-catalog-flex">
                        <h3 class="main-catalog-title">{{ item.title_main }}</h3>
                        <div class="main-catalog-count">{{ item.product.all.count }}</div>
                    </div>
                </div>
            {% endfor %}

            {% for item in change_category %}
                <div class="main-catalog-item">
                    <a class="main-catalog-link" href="{% url 'category' item.slug %}"></a>
                    <div class="main-catalog-img">
                        <img class="lozad" src="{% static_webp 'img/no-img.jpg' 90 %}" data-src="{{ item.image_main_crop.url }}" alt="{% if item.alt_main %}{{ item.alt_main }}{% else %}{{ item.title_main }}{% endif %}">
                    </div>
                    <div class="main-catalog-flex">
                        <h3 class="main-catalog-title">{{ item.title_main }}</h3>
                        <div class="main-catalog-count">{{ item.product.all.count }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>


