<section class="contacts" id="contacts">
    <div class="container">
        <div class="contacts-content" itemscope="itemscope" itemtype="http://schema.org/Organization">
            <h2 class="section-title">Контакты</h2>
            <meta itemprop="name" content="Фотобудка в аренду"/>
            <ul class="contacts-list">
                <li class="contacts__item tel">
                    <a class="phone-ym" href="tel:+79993331267" itemprop="telephone">+7 999 333 12 67</a>
                </li>
                <li class="contacts__item clock">
                    <p>с 10:00 до 20:00 (ежедневно)</p>
                </li>
                <li class="contacts__item place" itemprop="address" itemscope="itemscope"
                    itemtype="https://schema.org/PostalAddress">
                    <p itemprop="streetAddress">
                        109382, Москва, пр. Егорьевский, д.2а, стр.10
                    </p>
                </li>
                <li class="contacts__item mail">
                    <a class="email-ym" href="mailto:info@fotobudka-v-arendu.ru">info@fotobudka-v-arendu.ru</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="contacts-map">
        <iframe class="lozad" data-src="https://yandex.ru/map-widget/v1/?z=12&amp;ol=biz&amp;oid=13469676772" title="map"></iframe>
    </div>
</section>