<div class="crumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
    <ul class="crumb-block">
        <li class="crumb-item" itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="{% url 'main' %}">
                <span itemprop="name">Главная</span>
            </a>
            <meta itemprop="position" content="1"/>
        </li>
        <li class="crumb-item last" itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
            <a itemprop="item" href="{% url 'main' %}">
                <span itemprop="name">Главная</span>
            </a>
            <meta itemprop="position" content="2"/>
        </li>
    </ul>
</div>