{% load webp_converter %}
<section class="feedback">
    <div class="container">
        <div class="feedback-block">
            <h2>Остались вопросы?</h2>
            <p>
                Оставьте заявку и наш менеджер подробно подскажет, что именно для вас подойдет
            </p>
            <div class="main-btn feedback-form-btn">Оставить заявку</div>
        </div>
    </div>
</section>
<div class="modal feedback-modal">
    <div class="modal-content">
        <div class="modal-close"></div>
        <form class="main-feedback-form" action="{% url 'feedback' %}" method="post" id="feedbackForm">
            {% csrf_token %}
            <div class="modal-title">Обратная связь</div>
            <p class="modal-text">Укажите ваши данные и выберите удобный способ связи</p>
            <div class="default-input">
                <span class="error-text">Заполните это поле</span>
                <input type="text" placeholder="Иван" name="name">
            </div>
            <div class="default-input">
                <span class="error-text">Заполните это поле</span>
                <input class="phone-mask" type="tel" placeholder="+7 (495) 666 88 88" name="phone">
            </div>
            <div class="feedback-type">
                <div class="feedback-type-check">Позвонить по телефону</div>
                <input class="feedback-type-input" name="feedback-type" value="Позвоните мне" hidden="hidden" id="feedbackInput"/>
                <div class="feedback-type-list">
                    <div class="feedback-type-item check">Позвонить по телефону</div>
                    <div class="feedback-type-item">Написать в WhatApp</div>
                    <div class="feedback-type-item">Написать в Telegram</div>
                </div>
            </div>
            <div class="modal-confirm">Нажимая на кнопку, даю согласие
                <span class="show-confirm-modal">на обработку персональных данных</span>
            </div>
            <div class="main-btn send-feedback-form-btn">Свяжитесь со мной</div>
        </form>
    </div>
</div>