{% if presentation %}
<section class="download-files">
    <div class="container">
        <div class="download-file-block">
            <div class="download-file-title">Ознакомьтесь со всей <br> нашей продукцией
                <span class="pink">в одном файле</span></div>
            <a target="_blank" href="{{ presentation.file.url }}" class="download-file-btn">Скачать pdf</a>
        </div>
    </div>
</section>
{% endif %}