{% load staticfiles %}
<footer class="footer">
    <div class="container">
        <div class="footer-flex">
            <div class="footer-left">
                <div class="left">
                    <img class="lozad" src="{% static 'img/svg/footer-logo.svg' %}" alt="Фотобудка в аренду">
                    <p>© Copyright 2021 Фотобудка в аренду. Все права защищены.</p>
                </div>
                <div class="right">
                    <iframe src="https://yandex.ru/sprav/widget/rating-badge/13469676772" width="150" height="50" frameborder="0"></iframe>
                </div>
            </div>
            <ul class="footer-nav">
                {% for item in category_header %}
                    <li><a href="{% url 'category' item.slug %}">{{ item.title_main }}</a></li>
                {% endfor %}
                {% for item in change_category %}
                    <li><a href="{% url 'category' item.slug %}">{{ item.title_main }}</a></li>
                {% endfor %}
            </ul>
            <div class="footer-right">
                <a class="footer-right-item events-ym" href="{% url 'news' %}">Портфолио</a>
                <div class="footer-right-item footer-confirm-btn">Политика конфиденциальности</div>
                <div class="footer-social">
                    <a class="footer-social-item social-ym" href="https://www.instagram.com/fotobudkavarendu/" target="_blank">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <circle class='pink-svg' cx="16" cy="16" r="16" fill="#EC008C"/>
                            <g clip-path="url(#clip0)">
                                <path d="M25.0879 12.2303C25.0434 11.257 24.8888 10.5924 24.6628 10.011C24.4333 9.40088 24.0734 8.84828 23.6083 8.39153C23.1516 7.92641 22.5989 7.56634 21.9888 7.3367C21.4072 7.11084 20.7427 6.9564 19.7695 6.91218C18.7945 6.86754 18.483 6.85693 16 6.85693C13.517 6.85693 13.2055 6.86754 12.2305 6.9119C11.2573 6.9564 10.5928 7.11098 10.0112 7.33698C9.40109 7.56648 8.8485 7.92641 8.39175 8.39153C7.92662 8.84814 7.56655 9.40074 7.33692 10.0108C7.11105 10.5924 6.95662 11.257 6.91239 12.2301C6.86775 13.2053 6.85715 13.5167 6.85715 15.9997C6.85715 18.4828 6.86775 18.7943 6.91239 19.7693C6.95676 20.7424 7.11133 21.407 7.33734 21.9886C7.56683 22.5986 7.92676 23.1513 8.39188 23.6079C8.8485 24.073 9.40123 24.433 10.0113 24.6625C10.5928 24.8886 11.2574 25.043 12.2306 25.0875C13.2058 25.132 13.5172 25.1425 16.0001 25.1425C18.4831 25.1425 18.7946 25.132 19.7697 25.0875C20.7429 25.043 21.4074 24.8886 21.989 24.6625C23.2171 24.1876 24.1879 23.2167 24.6628 21.9886C24.889 21.407 25.0434 20.7424 25.0879 19.7693C25.1323 18.7942 25.1429 18.4828 25.1429 15.9998C25.1429 13.5167 25.1323 13.2053 25.0879 12.2303ZM23.4421 19.6944C23.4015 20.5859 23.2525 21.07 23.1274 21.3921C22.8198 22.1895 22.1896 22.8197 21.3922 23.1273C21.07 23.2524 20.5859 23.4014 19.6945 23.442C18.7306 23.4861 18.4414 23.4953 16 23.4953C13.5585 23.4953 13.2694 23.4861 12.3054 23.442C11.4141 23.4014 10.93 23.2524 10.6077 23.1273C10.2107 22.9807 9.85143 22.747 9.55651 22.4433C9.25279 22.1484 9.01912 21.7893 8.87249 21.3921C8.74735 21.07 8.59836 20.5859 8.55776 19.6944C8.51382 18.7304 8.50447 18.4412 8.50447 15.9999C8.50447 13.5585 8.51382 13.2695 8.55776 12.3053C8.5985 11.4139 8.74735 10.9298 8.87249 10.6076C9.01912 10.2104 9.25293 9.85121 9.55651 9.55629C9.85143 9.25258 10.2107 9.0189 10.6078 8.87242C10.93 8.74714 11.4141 8.59828 12.3055 8.55755C13.2695 8.5136 13.5587 8.50425 16 8.50425H15.9999C18.4411 8.50425 18.7303 8.5136 19.6945 8.55769C20.5859 8.59828 21.0699 8.74728 21.3922 8.87242C21.7892 9.01904 22.1484 9.25272 22.4434 9.55629C22.7471 9.85121 22.9808 10.2104 23.1272 10.6076C23.2525 10.9298 23.4015 11.4139 23.4421 12.3053C23.4861 13.2693 23.4954 13.5585 23.4954 15.9998C23.4954 18.4412 23.4862 18.7303 23.4421 19.6944Z"
                                      fill="white"/>
                                <path d="M15.9999 11.3047C13.4069 11.3047 11.305 13.4068 11.305 15.9997C11.305 18.5926 13.4069 20.6946 15.9999 20.6946C18.5929 20.6946 20.6949 18.5926 20.6949 15.9997C20.6949 13.4068 18.5929 11.3047 15.9999 11.3047ZM15.9999 19.0473C14.3168 19.0472 12.9523 17.6828 12.9524 15.9996C12.9524 14.3165 14.3168 12.952 16 12.952C17.6832 12.9521 19.0476 14.3165 19.0476 15.9996C19.0476 17.6828 17.683 19.0473 15.9999 19.0473Z"
                                        fill="white"/>
                                <path d="M21.9775 11.1192C21.9775 11.7251 21.4863 12.2163 20.8804 12.2163C20.2744 12.2163 19.7832 11.7251 19.7832 11.1192C19.7832 10.5132 20.2744 10.022 20.8804 10.022C21.4863 10.022 21.9775 10.5132 21.9775 11.1192Z"
                                        fill="white"/>
                            </g>
                            <defs>
                                <clipPath id="clip0">
                                    <rect width="18.2857" height="18.2857" fill="white" transform="translate(6.85715 6.85693)"/>
                                </clipPath>
                            </defs>
                        </svg>
                    </a>
                    <a href="https://www.youtube.com/channel/UCqbsK5IZ7_T12EeDpIjTVdg/featured" target="_blank" class="footer-social-item social-ym">
                        <svg width="32" height="32" viewBox="0 0 32 32" fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <circle cx="16" cy="16" r="16" fill="white"/>
                            <path class='pink-svg' d="M14.0071 18.9976L19.2117 16L14.0071 13.0024V18.9976Z" fill="#EC008C"/>
                            <path class='pink-svg'
                                  d="M16 0C7.16479 0 0 7.16479 0 16C0 24.8352 7.16479 32 16 32C24.8352 32 32 24.8352 32 16C32 7.16479 24.8352 0 16 0ZM25.9976 16.0164C25.9976 16.0164 25.9976 19.2612 25.5859 20.8259C25.3552 21.6824 24.6799 22.3577 23.8235 22.5881C22.2588 23 16 23 16 23C16 23 9.75757 23 8.17651 22.5718C7.32007 22.3413 6.64478 21.6658 6.41406 20.8093C6.0022 19.2612 6.0022 16 6.0022 16C6.0022 16 6.0022 12.7554 6.41406 11.1907C6.64453 10.3342 7.33643 9.64233 8.17651 9.41187C9.74121 9 16 9 16 9C16 9 22.2588 9 23.8235 9.42822C24.6799 9.65869 25.3552 10.3342 25.5859 11.1907C26.0142 12.7554 25.9976 16.0164 25.9976 16.0164Z"
                                  fill="#EC008C"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>