{% load staticfiles %}
{% load my_filters %}
{% load webp_converter %}

<header class="header">
    <div class="container">
        <div class="header-flex">
            <div class="header-left">
                <a href="{% url 'main' %}" class="logo">
                    <img src="{% static 'img/svg/logo.svg' %}" alt="Фотобудка в аренду">
                </a>
                <ul class="header-nav">
                    <li class="header-nav-item catalog-link">
                        <span>Каталог</span>
                        <div class="header-catalog-block">
                            <div class="main-catalog-list">
                                {% for  item in category_header %}
                                    <div class="main-catalog-item">
                                        <a class="main-catalog-link" href="{% url 'category' item.slug %}"></a>
                                        <div class="main-catalog-img">
                                            <img src="{% static_webp 'img/no-img.jpg' 90 %}" class="lozad" data-src="{{ item.image_header_crop.url }}" alt="{{ item.title_main }}">
                                        </div>
                                        <div class="main-catalog-flex">
                                            <div class="main-catalog-title">{{ item.title_main }}</div>
                                            <div class="main-catalog-count">{{ item.product.all.count }}</div>
                                        </div>
                                    </div>
                                {% endfor %}
                                {% for  item in change_category %}
                                    <div class="main-catalog-item">
                                        <a class="main-catalog-link" href="{% url 'category' item.slug %}"></a>
                                        <div class="main-catalog-img">
                                            <img src="{% static_webp 'img/no-img.jpg' 90 %}" class="lozad" data-src="{{ item.image_header_crop.url }}" alt="{{ item.title_main }}">
                                        </div>
                                        <div class="main-catalog-flex">
                                            <div class="main-catalog-title">{{ item.title_main }}</div>
                                            <div class="main-catalog-count">{{ item.product.all.count }}</div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </li>
                    <li class="header-nav-item events-link">
                        <span>События</span>
                        <div class="header-events-block">
                            <div class="events-list">
                                {% for item in category_event %}
                                    <a href="{% url 'category' item.slug %}" class="events-item">
                                        {% if item.tab_title %}{{ item.tab_title }}{% else %}{{ item.title_main }}{% endif %}
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </li>
                    <li class="header-nav-item contacts-link contacts-btn contact-ym">Контакты</li>
                </ul>
                <div class="search-desktop search-click" style="font-size: inherit;">
                    <div class="search-main-content">
                        <form class="search-main-block" method="get" action="{% url 'search_product' %}">
                            <div class="search-main-input ">
                                <span class="close-search"></span>
                                <input class="search-form-input" type="text" name="q" placeholder="Найти на сайте" autocomplete="off">
                                <button type="submit" style="display: none;" disabled></button>
                            </div>
                        </form>
                        <div class="search-main-result">
                        {% include 'include/search-result.html' %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-right">
                <div class="header-right-item search-link search-click">
                    <img src="{% static 'img/svg/search.svg' %}" alt="Search">
                </div>
                {% count_favorite request as favorite %}
                <a href="{% url 'favorites' %}" class="header-right-item favorite-link">
                    {% if path_name == 'favorites' %}
                        <img src="{% static 'img/svg/favorite-active.svg' %}" alt="favorite">
                    {% else %}
                        <img class="default-img" src="{% static 'img/svg/favorite.svg' %}" alt="favorite">
                        <img class="hover-img" src="{% static 'img/svg/favorite-hover.svg' %}" alt="favorite">
                        <div class="default-count favorite-count {% if favorite != 0 %}active{% endif %}">{% count_favorite request %}</div>
                    {% endif %}
                </a>
                <a href="{% url 'basket' %}" class="header-right-item basket-link">
                    <img class="default-img" src="{% static 'img/svg/shopping-cart.svg' %}" alt="Basket">
                    <img class="hover-img" src="{% static 'img/svg/shopping-cart-hover.svg' %}" alt="Basket">
                    <div class="default-count basket-count {% if cart.items %}active{% endif %}">{% if cart.items %}{{ cart.products|length }}{% endif %}</div>
                </a>
                <div class="header-right-item  burger"></div>
                <div class="header-contacts">
                    <a href="https://wa.me/79262275007" target="_blank" class="whatsapp-link whatsapp-ym">
                        <img src="{% static 'img/svg/whats.svg' %}" alt="whatsapp">
                    </a>
                    <a href="tel:+79993331267" class="phone-link phone-ym">+7 999 333 12 67</a>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="mobile-menu">
    <div class="container">
        <ul class="mobile-menu-list">
            <li class="mobile-menu-item catalog-show">
                <span>Каталог</span>
                <div class="mobile-menu-catalog-list">
                    {% for  item in category_header %}
                        <a href="{% url 'category' item.slug %}" class="mobile-menu-catalog-item">{{ item.title_main }}</a>
                    {% endfor %}
                    {% for  item in change_category %}
                        <a href="{% url 'category' item.slug %}" class="mobile-menu-catalog-item">{{ item.title_main }}</a>
                    {% endfor %}
                </div>
            </li>
            <li class="mobile-menu-item events-show">
                <span>События</span>
                <div class="mobile-menu-events-list">
                    {% for item in category_event %}
                        <a href="{% url 'category' item.slug %}" class="events-item">
                            {% if item.tab_title %}{{ item.tab_title }}{% else %}{{ item.title_main }}{% endif %}
                        </a>
                    {% endfor %}
                </div>
            </li>
            <li class="mobile-menu-item faq-btn faq-ym">
                <span>Вопросы-ответы</span>
            </li>
            <li class="mobile-menu-item contacts-btn contact-ym">
                <span>Контакты</span>
            </li>
            <li class="mobile-menu-item header-contacts">
                <a href="https://wa.me/79262275007" target="_blank" class="whatsapp-link whatsapp-ym">
                    <img class="lozad" data-src="{% static 'img/svg/whats.svg' %}" alt="whatsapp">
                </a>
                <a href="tel:+79993331267" class="phone-link phone-ym">+7 999 333 12 67</a>
            </li>
        </ul>
    </div>
</div>
<div class="header-line"></div>