<div class="modal modal-video">
    <div class="modal-other-content">
        <div class="modal-close"></div>
        <iframe id="video" src=""
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
    </div>
</div>
<div class="modal modal-image">
    <div class="modal-other-content">
        <div class="modal-close"></div>
        <img id="image" src="" alt="">
    </div>
</div>

<div class="modal success-modal form-success ">
    <div class="modal-content">
        <div class="modal-close"></div>
        <div class="modal-answer-title">Заявка отправлена!</div>
        <p class="modal-answer-text">Наш менеджер перезвонит вам в ближайшее время </p>
    </div>
</div>
<div class="modal success-modal form-danger ">
    <div class="modal-content">
        <div class="modal-close"></div>
        <div class="modal-answer-title">Ээххх! Что-то пошло не так...</div>
        <p class="modal-answer-text">Попробуйте снова.</p>
    </div>
</div>
<div class="modal form-modal-agreement ">
    <div class="modal-content">
        <span class="modal-close"></span>
        <div class="form">
            <div>
                <p class="main-text">Согласие на обработку персональных
                    данных</p>
                <p class="small-text">Настоящим в соответствии с Федеральным
                    законом № 152-ФЗ «О персональных данных» от 27.07.2006 года
                    свободно, своей волей и в своем интересе выражаю свое
                    безусловное согласие на обработку моих персональных данных
                    ИП Журавлев С.В., зарегистрированным в соответствии с
                    законодательством РФ по адресу: 111675, г. Москва, ул.
                    Рудневка, д.41, кв.81 (далее по тексту - Оператор).</p>
                <p class="small-text">Персональные данные - любая информация,
                    относящаяся к определенному или определяемому на основании
                    такой информации физическому лицу.</p>
                <p class="small-text">Настоящее Согласие выдано мною на
                    обработку следующих персональных данных:</p>
                <ul>
                    <li>Список полей формы.</li>
                </ul>
                <p class="small-text">Согласие дано Оператору для совершения
                    следующих действий с моими персональными данными с
                    использованием средств автоматизации и/или без использования
                    таких средств: сбор, систематизация, накопление, хранение,
                    уточнение (обновление, изменение), использование,
                    обезличивание, передача третьим лицам для указанных ниже
                    целей, а также осуществление любых иных действий,
                    предусмотренных действующим законодательством РФ как
                    неавтоматизированными, так и автоматизированными
                    способами.</p>
                <p class="small-text">Данное согласие дается Оператору для
                    обработки моих персональных данных в следующих целях:</p>
                <ul>
                    <li>Позвонить клиенту для уточнения заявки с сайта.</li>
                </ul>
                <p class="small-text">Настоящее согласие действует до момента
                    его отзыва путем направления соответствующего уведомления на
                    электронный адрес info@fotobudka-v-arendu.ru. В случае
                    отзыва мною согласия на обработку персональных данных
                    Оператор вправе продолжить обработку персональных данных без
                    моего согласия при наличии оснований, указанных в пунктах 2
                    – 11 части 1 статьи 6, части 2 статьи 10 и части 2 статьи 11
                    Федерального закона №152-ФЗ «О персональных данных» от
                    27.07.2006 г.</p>
            </div>
        </div>
    </div>
</div>