{% load my_filters %}
{% load webp_converter %}
{% slider_order options as product_options %}
{% for item in product_options %}
    {% in_cart request product as check_product_in_cart %}
    {% option_in_cart request product item.id as test %}
    {% option_item_quantity_in_cart request product item.id as option_item_quantity %}
    {% option_item_price_in_cart request product item.id as option_item_price %}
    <div class="swiper-slide option-item {% if check_product_in_cart %}{% if test %}active{% endif %}{% endif %}" data-category-id="{{ item.category }}" data-id="{{ item.id }}">
        <div class="option-item-img show-image" data-src="{{ item.image.url }}">
            {% if item.info %}
                <div class="option-item-time"> {{ item.info }}</div>
            {% endif %}
            <img class="lozad" src="{% static_webp 'img/no-img.jpg' 90 %}" data-src="{{ item.image_crop_small.url }}" alt="{% if item.alt %}{{ item.alt }}{% else %}{{ item.title }}{% endif %}">
        </div>
        <div class="option-item-title">{{ item.title|truncatechars:40 }}</div>
        {% if item.description %}
            <p class="option-item-text">{{ item.description|truncatechars:40 }} </p>
        {% endif %}
        <div class="option-item-flex">
            <div class="option-item-block-price">
                <span class="option-item-price option-price"
                      data-first-price="{{ item.price|floatformat }}"
                      data-price=" {% if test %}{{ option_item_price }}{% else %}{{ item.price|floatformat }}
                    {% endif %}">{% if test %}{{ option_item_price }}{% else %}{{ item.price|floatformat }}{% endif %}</span>
                <span class="rub">₽</span>
            </div>
            <div class="option-click option-item-cart {% if not test %} active{% endif %}"></div>
            <input type="checkbox" class="option-input" hidden>
            <div class="option-item-quantity {% if test %} active{% endif %}">
                <div class="default-quantity">
                    <span class="default-quantity-btn minus minus-js"></span>
                    <input type="number" class="default-quantity-input option-quantity-input" value="{% if test %}{{ option_item_quantity }}{% else %}1{% endif %}" min="1" max="999">
                    <span class="default-quantity-btn plus {% if item.quantity %}plus-js{% else %}disabled{% endif %}"></span>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
