{% load my_filters %}
{% load webp_converter %}
{% for product_item in products %}
    <div class="catalog-item">
        {% if product_item.category_slug %}
            <a href="{% url 'product' product_item.category_slug.slug product_item.slug %}" class="catalog-item-link"></a>
        {% else %}
            <a href="{% url 'product' product_item.category.first.slug product_item.slug %}" class="catalog-item-link"></a>
        {% endif %}
        {% slider_product product_item.slider.all as product_slider %}
        <div class="catalog-item-images" itemscope itemtype="https://schema.org/ImageObject">
            <div class="favorite mini favorite-js {% if request|in_favorite:product_item.id %}active{% endif %}" data-id="{{ product_item.id }}"></div>
            {% if product_item.video %}
                <div class="video mini show-video video-ym" data-src="{{ product_item.video }}"></div>
            {% endif %}
            <div class="swiper catalog-item-slider">
                <div class="swiper-wrapper">
                    {% for slide in product_slider %}
                        <div class="swiper-slide">
                            <img class="swiper-lazy" src="{% static_webp 'img/no-img.jpg' 90 %}" data-src="{% if slide.is_gif %}{{ slide.image.url }}{% else %}{{ slide.image_crop.url }}{% endif %}"
                                 alt="{% if slide.alt %}{{ slide.alt }}{% else %}{{ product_item.title }}{% endif %}">
                            <img src="{{ slide.image.url }}" itemprop="image" alt="{% if slide.alt %}{{ slide.alt }}{% else %}{{ product_item.title }}{% endif %}">
                            <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                        </div>
                    {% endfor %}
                </div>
                <div class="swiper-pagination catalog-item-pagination"></div>
            </div>
        </div>
        <h3>{{ product_item.title }}</h3>
        <div class="catalog-item-text">
            {% if product_item.text %}
                {{ product_item.text|safe }}
            {% else %}
                {{ product_item.description|safe }}
            {% endif %}
        </div>
        <div class="catalog-item-flex">
            <div class="catalog-item-price">от <span class="catalog-item-price-js">{{ product_item.price1|floatformat }}</span> <span class="rub">₽</span></div>
            {% if product_item.size.first %}
                <div class="catalog-item-size">
                    {{ product_item.size.first.size }}
                </div>
            {% endif %}
        </div>
    </div>
{% endfor %}
