{% load staticfiles %}
<section class="promotion">
    <div class="container">
        <h2 class="section-title">Специальные предложения </h2>
        <div class="promotion-list">
            <div class="promotion-item  promotion-grid-item">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <div class="flip-card-content">
                            <img class="lozad" src="{% static 'img/svg/promotion1.svg' %}" alt="Для свадьбы">
                            <div class="promotion-item-title">Для свадьбы</div>
                        </div>
                    </div>
                    <div class="flip-card-back">
                        <div class="flip-card-content">
                            <p>Книга пожеланий в подарок </p>
                            <span>на свадьбу</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="promotion-item  promotion-grid-item">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <div class="flip-card-content">
                            <img class="lozad" src="{% static 'img/svg/promotion2.svg' %}" alt="Для корпоратива">
                            <div class="promotion-item-title">Для корпоратива</div>
                        </div>
                    </div>
                    <div class="flip-card-back">
                        <div class="flip-card-content">
                            <p>Инстапринтер в подарок</p>
                            <span>при заказе от 100 000 ₽</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="promotion-item  promotion-grid-item">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <div class="flip-card-content">
                            <img class="lozad" src="{% static 'img/svg/promotion3.svg' %}" alt="Для детей">
                            <div class="promotion-item-title">Для детей</div>
                        </div>
                    </div>
                    <div class="flip-card-back">
                        <div class="flip-card-content">
                            <p> Аниматор в подарок </p>
                            <span>при заказе от 40 000 ₽ </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="promotion-item  promotion-grid-item">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <div class="flip-card-content">
                            <img class="lozad" src="{% static 'img/svg/promotion5.svg' %}" alt="Для вечеринки">
                            <div class="promotion-item-title">Для вечеринки</div>
                        </div>
                    </div>
                    <div class="flip-card-back">
                        <div class="flip-card-content">
                            <p>Декоративный свет в подарок </p>
                            <span>при заказе от 25 000 ₽ </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="promotion-item  promotion-grid-item">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <div class="flip-card-content">
                            <img class="lozad" src="{% static 'img/svg/promotion4.svg' %}" alt="Для дня рождения">
                            <div class="promotion-item-title">Для дня рождения</div>
                        </div>
                    </div>
                    <div class="flip-card-back">
                        <div class="flip-card-content">
                            <p>30 фотомагнитов в подарок </p>
                            <span>при заказе от 30 000 ₽</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="promotion-item  promotion-grid-item">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <div class="flip-card-content">
                            <img class="lozad" src="{% static 'img/svg/promotion6.svg' %}" alt="Для юбилея">
                            <div class="promotion-item-title">Для юбилея</div>
                        </div>
                    </div>
                    <div class="flip-card-back">
                        <div class="flip-card-content">
                            <p> Книга пожеланий в подарок </p>
                            <span>на юбилей</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>