{% if recommendation %}
    <section class="recommendation">
        <div class="container">
            <h2 class="recommendation-title "> Вам может понравится </h2>
            <div class="recommendation-list">
                <div class="swiper recommendation-slider">
                    <div class="swiper-wrapper">
                        {% include 'include/recommendation-item.html' with products=recommendation %}
                    </div>
                </div>
                <div class="swiper-button-prev recommendation-prev"></div>
                <div class="swiper-button-next recommendation-next"></div>
            </div>
        </div>
    </section>
{% endif %}