{% for item in results %}
    <a href="{{ item.product_url }}" class="search-result-item">
        <img src="{{ item.slider.first.image_crop_small.url }}" alt="">
        <p>{{ item.title }}</p>
    </a>
{% endfor %}
