{% load staticfiles %}
<section class="work block-hide">
    <div class="container">
        <h2 class="section-title">Как мы работаем?</h2>
        <div class="work-list">
            <div class="work-item">
                <span>1</span>
                <p>
                    Вы выбираете что хотите заказать и оставляете заявку. Или позвоните нам мы вам все подскажем!
                </p>
            </div>
            <div class="work-item">
                <span>2</span>
                <p>
                    Затем наш менеджер вам позвонит для обсуждения всех деталей (установка, стоимость, доставка,
                    монтаж, составление договора)
                </p>
            </div>
            <div class="work-item">
                <span>3</span>
                <p>
                    По вашему желанию может выехать наш специалист, который с наибольшой точностью сможет
                    подготовить
                </p>
            </div>
            <div class="work-item">
                    <span>
                        <img class="lozad" data-src="{% static 'img/svg/check-white.svg' %}" alt="Как мы работаем?">
                    </span>
                <p>
                    Всё остальное вы оставляете на нас. Организуем весь процесс полностью под ключ!
                </p>
            </div>
        </div>
    </div>
</section>