.about-us {
  padding: 30px 0 ;
  position: relative;
  overflow: hidden;
  @media (min-width: 960px) {
    padding: 50px 0 ;
  }

  .about-us-block {
    position: relative;
    @media (min-width: 640px) {
      padding: 0;
    }
  }


  @keyframes translateinfinite {
    100% {
      transform: translateX(calc(-360px * 6));
    }
  }

  .about-us-list {
    background: #231F20;
    padding: 30px 16px;
    @media (min-width: 640px) {
      display: flex;
      width: calc(360px * 12);
      height: 90px;
      padding: 0;
    }

    &:hover {
      .about-us__item {
        -moz-animation-play-state: paused;
        -webkit-animation-play-state: paused;
      }
    }
  }

  .about-us__item {
    display: flex;
    align-items: center;
    margin: 0 0 15px;
    @media (min-width: 640px) {
      margin: 0;
      width: 360px;
      animation: translateinfinite 25s linear infinite;
      &:after {
        content: '';
        width: 5px;
        height: 5px;
        background: #D5DAE0;
        border-radius: 50%;
        margin: 0 0 0 25px;
      }
    }

    &.last {
      display: none;
      @media (min-width: 640px) {
        display: flex;
      }
    }

    img {
      width: 55px;
      height: 55px;
      min-width: 55px;
    }

    .about-us-body {
      margin: 0 0 0 22px;

      .title {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        margin: 0 0 5px;
      }

      .text {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 130%;
        color: #FFFFFF;
        opacity: 0.5;
        margin: 0;
      }
    }
  }
}

.about-us-accordion {
  display: none;
  @media (max-width: 960px) {
    display: block;
  }

  .accordion-title {
    display: flex;
    align-items: center;
    position: relative;
    background: #FAFAFA;
    border-radius: 4px;
    padding: 4px 8px;
    height: 56px;
    cursor: pointer;

    p {
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
      margin: 0 26px 0 8px;
      padding: 0;
    }

    &:focus {
      outline: none;
    }

    &:after {
      content: '';
      background-image: url(../img/svg/small-arrow-red.svg);
      background-repeat: no-repeat;
      width: 24px;
      height: 24px;
      position: absolute;
      top: 16px;
      right: 8px;
    }

    &.active {
      background: $red;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

      p {
        color: $white;
      }

      svg {
        path {
          fill: $white;
        }
      }

      &:after {
        background-image: url(../img/svg/small-arrow-white.svg);
      }
    }

    img {
      width: 48px;
      height: 48px;
      min-width: 48px;
    }

    svg {
      width: 48px;
      height: 48px;
      min-width: 48px;
    }
  }

  .accordion-body {
    padding: 0 8px;
    margin: 8px 0 12px 0;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: 100%;
      background: $red;
      border-radius: 2px;
    }

    p {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: #6A6A6A;
      margin: 0;
    }
  }
}