.red-btn {
  background: $red;
  border-radius: 6px;
  width: 336px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: $white;
  margin: 0 auto;
  cursor: pointer;
  transition: ease .3s;
  border: 1px solid $red;
  box-sizing: border-box;
  @media (max-width: 640px) {
    width: 100%;
  }

  &:hover {
    background: $white;
    color: $red;
  }

  &:disabled {
    border: 1px solid #939598;
    background: #939598;
    cursor: default;

    &:hover {
      color: $white;
    }
  }

  &.black {
    background-color: #131313;
    border: 1px solid #131313;

    &:hover {
      background: $white;
      color: #131313;
    }
  }
}

.show-btn {
  position: absolute;
  bottom: -12px;
  left: 50%;
  display: inline-flex;
  align-items: center;
  background: #C4C4C4;
  border-radius: 6px;
  height: 28px;
  padding: 0 12px;
  transform: translateX(-50%);
  z-index: 2;
  transition: .3s;
  cursor: pointer;

  &:hover {
    background-color: #939598;
  }

  &.show {
    bottom: -158px;

    &.accordion-btn {
      bottom: -12px;
    }

    &:after {
      transform: rotate(-180deg);
    }
  }

  &:after {
    content: '';
    background-image: url(../img/svg/show.svg);
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
    margin: 0 0 0 8px;
    transition: .2s;
  }

  &.hide {
    display: none;
  }
}

.swiper-container {
  &.product-slider {
    &:hover {
      .swiper-pagination {
        opacity: 1;
      }
    }

    .swiper-pagination {
      opacity: 0;
      transition: ease .3s;
      bottom: 8px;
      height: 100%;
      @media (max-width: 960px) {
        opacity: 1;
      }


      .swiper-pagination-bullet {
        position: relative;
        width: calc(20% - 8px);
        height: 100%;
        background: transparent;
        opacity: 1;
        border-radius: 0;

        &:hover {
          background: transparent;
          opacity: 1;
        }

        &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 5px;
          background: #D5DAE0;
          opacity: 0.5;
          border-radius: 10px;
        }

        &.swiper-pagination-bullet-active {
          width: calc(20% - 8px);
          background: transparent;
          border-radius: 0;

          &:after {
            opacity: 1;
            background: #FFFFFF;
          }
        }
      }
    }

  }

  .swiper-pagination {
    bottom: 0;

    .swiper-pagination-bullet {
      width: 10px;
      height: 4px;
      border: 0;
      margin: 0 3px;
      border-radius: 10px;
      background-color: #D5DAE0;
      opacity: 1;
      transition: .1s;
      overflow: hidden;

      &:hover {
        opacity: 0.6;
        background: $red;
      }

      &.swiper-pagination-bullet-active {
        border: 0;
        width: 25px;
        background: $red;
        opacity: 1;
        transition: .1s;
        position: relative;

        &:before {
          content: '';
          width: 0;
          height: 4px;
          background-color: $red;
          position: absolute;
          border-radius: 10px;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
        }
      }
    }
  }
}

.swiper-button-next {
  background-image: url(../img/svg/next.svg);
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  transition: .3s;
  top: calc(50% - 12px);
  right: 0;

  &:hover {
    background-image: url(../img/svg/next-hover.svg);
  }

  &:after {
    content: '';
  }

  &:focus {
    outline: none;
  }

  &.swiper-button-disabled {
    display: none;
  }
}

.swiper-button-prev {
  background-image: url(../img/svg/prev.svg);
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  transition: .3s;
  top: calc(50% - 12px);
  left: 0;

  &:hover {
    background-image: url(../img/svg/prev-hover.svg);
  }

  &:after {
    content: '';
  }

  &:focus {
    outline: none;
  }

  &.swiper-button-disabled {
    display: none;
  }
}

.close, .form-modal-agreement-close {
  cursor: pointer;
  position: absolute;
  top: -20px;
  right: -20px;
  background-image: url(../img/svg/close.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  transition: .3s;
  @media (max-width: 960px) {
    right: 0;
  }

  &:hover {
    background-image: url(../img/svg/close_hover.svg);
  }
}