.contacts {
  background: $white;
  position: relative;
  padding: 70px 0 0;

  @media (min-width: 640px) {
    padding: 0;
  }

  .container {
    @media (max-width: 960px) {
      margin: 0;
      padding: 0;
      max-width: 100%;
    }
  }

  .contacts-block {
    @media (min-width: 960px) {
      display: flex;
      justify-content: space-between;
    }
  }

  .block-titles {
    font-size: 42px;
    line-height: 55px;
  }

  .red-question {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    margin: 0;
    color: #EE3D48;
  }

  .contacts-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 16px 30px;
    @media (min-width: 640px) {
      padding: 50px 16px 30px;
    }
    @media (min-width: 960px) {
      padding: 60px 0;
      width: 50%;
      height: auto;
      display: block;
    }
  }

  .contacts-list {
    display: block;
    margin: 20px 0 0;
    padding: 0;
    list-style: none;
    @media (min-width: 640px) {
      display: flex;
    }
    @media (min-width: 960px) {
      display: block;
    }

    .contacts__item {
      position: relative;
      padding: 0 0 12px 36px;
      margin: 16px 0 0;


      @media (min-width: 640px) {
        padding: 0 24px 0 54px;
        &:first-child {
          padding: 0 24px 0 24px;
        }
      }
      @media (min-width: 960px) {
        padding: 0 0 12px 36px;
        &:first-child {
          padding: 0 0 12px 36px;
        }
      }

      &:last-child:after {
        content: none;
      }

      &:after {
        content: '';
        background-color: #D5DAE0;
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;

        @media (min-width: 640px) {
          width: 1px;
          height: 100%;
          bottom: 0;
          right: 0;
        }
        @media (min-width: 960px) {
          width: 100%;
          height: 1px;
          bottom: 0;
          left: 0;
        }
      }

      span {
        font-family: "Roboto Slab", sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 32px;
        color: #282828;
        display: block;
        margin: 0 0 4px;
      }

      &.tel {
        &:before {
          background-image: url(../img/svg/phone.svg);
          left: 0;
        }

        a:hover {
          color: $red;
        }
      }

      &.time {
        &:before {
          background-image: url(../img/svg/time.svg);
          left: 0;
        }
      }

      &.mail {
        a {
          text-decoration-line: underline;

          &:hover {
            color: $red;
          }
        }

        &:before {
          background-image: url(../img/svg/mail.svg);
          left: 0;
          @media (min-width: 640px) {
            left: 24px;
          }
          @media (min-width: 960px) {
            left: 0;
          }
        }

      }


      &:before {
        content: '';
        background-image: url(../img/svg/place.svg);
        height: 20px;
        width: 20px;
        background-repeat: no-repeat;
        background-size: 20px;
        position: absolute;
        top: 8px;
        left: 0;
        @media (min-width: 640px) {
          left: 24px;
        }
        @media (min-width: 960px) {
          left: 0;
          height: 24px;
          width: 24px;
          background-size: 24px;
        }
        @media (min-width: 1240px) {
          top: 0;
        }
      }

      a, p {
        display: inline;
        font-style: normal;
        font-weight: normal;
        color: #6A6A6A;
        margin: 0;
        font-size: 18px;
        line-height: 21px;
        transition: .3s;
        @media (max-width: 640px) {
          font-size: 16px;
          line-height: 19px;
        }
      }
    }
  }

  .contacts-map {
    height: 360px;
    width: 100%;
    @media (min-width: 640px) {
      height: 452px;
    }
    @media (min-width: 960px) {
      width: 50%;
      height: auto;
    }

    iframe {
      height: 100%;
      border: 0;
      width: 100%;
    }

  }
}