.faq {
  padding: 30px 0;
  background: $white;
  @media (min-width: 640px) {
    padding: 30px 0 60px;
  }
}

.accordion-list, .about-us-accordion {
  margin: 20px 0 0;

  .accordion-title {
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #131313;
    padding: 0 42px 0 12px;
    margin: 0 0 20px;
    cursor: pointer;
    background: #FAFAFA;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    min-height: 50px;
    display: flex;
    align-items: center;
    width: 100%;
    transition: .3s;
    @media (max-width: 640px) {
      font-size: 14px;
      line-height: 16px;
      padding: 12px 42px 12px 12px;

    }

    &:focus {
      outline: none
    }

    &:hover {
      color: $red;
      box-shadow: 0 4px 20px rgba(238, 61, 72, 0.1);
    }

    &:after {
      content: '';
      background-image: url(../img/svg/small-arrow-red.svg);
      background-repeat: no-repeat;
      width: 24px;
      height: 24px;
      position: absolute;
      top: 13px;
      right: 12px;
    }

    &.active {
      color: $white;
      background: $red;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
      border-radius: 4px;

      &:after {
        background-image: url(../img/svg/small-arrow-white.svg);
      }
    }
  }

  .accordion-body {
    padding: 8px 16px;
    margin: -12px 0 12px 4px;
    position: relative;
    display: none;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: 100%;
      background: $red;
      border-radius: 2px;
    }

    p {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: #6A6A6A;
      padding: 0;
      margin: 0;
      @media (max-width: 640px) {
        font-size: 12px;
        line-height: 14px;

      }
    }

    ul {
      list-style: none;
      padding: 0 0 0 20px;
      margin: 0;

      li {
        position: relative;
        padding: 0 0 0 20px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: #6A6A6A;
        margin: 0 0 8px;
        @media (max-width: 640px) {
          font-size: 12px;
          line-height: 14px;

        }

        &:before {
          content: "";
          background-color: $red;
          font-weight: bold;
          display: inline-block;
          position: absolute;
          top: 8px;
          left: 0;
          width: 8px;
          height: 8px;
          min-width: 8px;
          border-radius: 50%;
          margin: 0 12px 0 0;
        }
      }
    }
  }
}