.footer {
  background: #303030;
  padding: 20px 0 60px;

  .flex {
    display: flex;
    justify-content: space-between;
    padding: 0 0 30px;
    border-bottom: 1px solid $red;

    @media (max-width: 960px) {
      display: block;
    }

    .right {
      text-align: right;
      @media (max-width: 960px) {
        text-align: left;
        margin: 30px 0 0;
      }
    }
  }

  .footer-logo {
    display: flex;
    align-items: center;

    img {
      width: 60px;
      height: 60px;
    }

    .footer-title {
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 33px;
      color: $white;
      margin: 0 0 0 20px;
      @media (max-width: 1200px) {
        font-size: 20px;
        line-height: normal;
      }
    }
  }

  .footer-address {
    margin: 12px 0 0;
    @media (min-width: 960px) {
      max-width: 300px;
    }

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      color: #D5DAE0;
      margin: 0;
    }
  }

  .social-title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: $white;
    margin: 16px 0 0;
  }

  .social-links {
    margin: 20px 0 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @media (max-width: 960px) {
      justify-content: flex-start;
    }

    .social__item {
      margin: 0 0 0 16px;
      transition: .3s;
      @media (max-width: 960px) {
        margin: 0 16px 0 0;
      }

      a {
        display: inline-block;
      }

      &:hover {
        transform: translateY(-6px);
      }

      img {
        height: 32px;
        width: 32px;
        min-width: 32px;
        object-fit: cover;
      }
    }
  }

  .copyright {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #D5DAE0;
    margin: 20px 0 0;
  }

  .center {
    margin: 40px 0 0;

    @media (min-width: 960px) {
      max-width: 450px;
      margin: 20px 0 0;
    }
  }

  .footer-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .footer-nav-item {
      margin: 0 30px 16px 0;

      a {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 121%;
        color: $white;
        transition: ease .3s;

        &:hover {
          color: $red;
        }
      }
    }
  }
}