.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 8;
  background-color: $white;

  &.fixed {
    position: fixed;
  }

  &.shadow {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.16);
  }

  @media(max-width: 960px) {
    position: fixed;
  }

  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 68px;
    @media (max-width: 960px) {
      height: 64px;
    }
  }

  .right {
    display: flex;
    height: 100%;
  }

  .logo-link {
    display: flex;
    align-items: center;


    .logo-img {
      height: 50px;
      width: 50px;
    }

    .mobile-brand {
      display: none;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
      color: $red;
      margin: 0 0 0 8px;

      span {
        color: $black;
        display: block;
      }

      @media (max-width: 960px) {
        display: block;
      }

    }
  }


  .left {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .nav {
    margin: 0 0 0 50px;
    display: flex;
    @media (max-width: 1240px) {
      margin: 0 0 0 30px;
    }
    @media (max-width: 960px) {
      display: none;
    }
  }

  .callback {
    display: none;
    @media (min-width: 640px) {
      display: flex;
      width: max-content;
      align-items: center;
    }
    @media (min-width: 960px) {
      display: flex;
      align-items: center;
    }


    .callback-email {
      display: none;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #939598;
      transition: .3s;
      position: relative;
      @media (min-width: 960px) {
        display: inline-block;
      }


      &:hover {
        color: $black;
      }
    }
  }

  .menu-flex {
    display: none;
    align-items: center;
    @media (max-width: 960px) {
      display: flex;
    }

    .search {
      cursor: pointer;
      width: 52px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      border-left: 1px solid #E5E5E5;
      @media (min-width: 360px) {
        width: 60px;
      }
      @media (min-width: 640px) {
        border-left: 0;
      }

      &:after {
        height: 28px;
        width: 28px;
        min-width: 28px;
        @media (min-width: 640px) {
          height: 26px;
          width: 26px;
          min-width: 26px;
        }
      }
    }
  }


  .call {
    background-image: url(../img/svg/call.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 48px;
    cursor: pointer;
    height: 100%;
    width: 42px;
    padding: 0 6px;
    border-left: 1px solid #E5E5E5;
    border-right: 1px solid #E5E5E5;
    box-sizing: content-box;
    @media (min-width: 360px) {
      width: 48px;
    }
    @media (min-width: 640px) {
      display: none;
    }
  }

  .menu {
    background-image: url(../img/svg/menu.svg);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 100%;
    width: 46px;
    margin: 0 0 0 6px;
    background-size: 48px;
    @media (min-width: 360px) {
      width: 48px;
    }
  }
}

.telephone {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: $black;
  transition: .3s;
  position: relative;
  @media (min-width: 960px) {
    font-size: 24px;
    line-height: 32px;
  }

  &:hover {
    color: $red;

  }
}

.header-links {
  display: flex;
  align-items: center;
  @media (min-width: 960px) {
    display: block;
    text-align: right;
    width: 200px;
  }
}

.whatsapp-link {
  margin: 0;

  img {
    height: 22px;
    width: 22px;
    min-width: 22px;
    transition: .3s;
    @media (min-width: 960px) {
      min-width: 37px;
      height: 37px;
      width: 37px;
    }

    &:hover {
      transform: scale(1.2);
    }

  }
}

.nav__item {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #131313;
  margin: 0 50px 0 0;
  transition: .3s;
  cursor: pointer;
  display: inline-flex;
  align-items: center;

  @media (max-width: 1240px) {
    margin: 0 30px 0 0;
  }
  @media (max-width: 640px) {
    padding: 16px 0;
    border-top: 1px solid #D5DAE0;;
    margin: 0;
  }

  &.search, &.favorite, &.basket {
    position: relative;

    &:after {
      transition: ease .3s;
    }

    &:hover:after {
      transform: scale(1.2);
    }

    &.active .nav-count {
      visibility: visible;
      opacity: 1;
    }
  }

  .nav-count {
    position: absolute;
    top: 10px;
    right: -16px;
    background: #231F20;
    width: 16px;
    height: 16px;
    min-width: 16px;
    border-radius: 50%;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
  }

  &.favorite {
    &.active:after {
      background-image: url(../img/svg/fav-d-active.svg);
    }

    &:after {
      content: '';
      background-image: url(../img/svg/fav-d.svg);
      background-size: contain;
      height: 22px;
      width: 22px;
      min-width: 22px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &.basket {
    &.active:after {
      background-image: url(../img/svg/basket-active.svg);
    }

    &:after {
      content: '';
      background-image: url(../img/svg/basket.svg);
      background-size: contain;
      height: 20px;
      width: 20px;
      min-width: 20px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &.active {
    color: $red;

    &.catalog-btn:after {
      background-image: url(../img/svg/arrow-red.svg);
    }
  }

  &:hover {
    color: $red;

    &.catalog-btn:after {
      background-image: url(../img/svg/arrow-red.svg);
    }
  }

  &.catalog-btn {
    display: inline-flex;
    align-items: center;
    height: 68px;

    &:after {
      content: '';
      width: 16px;
      height: 16px;
      background-image: url(../img/svg/arrow-black.svg);
      background-repeat: no-repeat;
      margin: 0 0 0 10px;
      transition: .3s;
    }
  }
}

.mobile-nav {
  display: flex;
  flex-direction: column;

  @media (min-width: 640px) {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    flex-direction: row;
    padding: 15px 0;
  }
  @media (min-width: 960px) {
    display: none;

  }
}

.search:after {
  content: '';
  background-image: url(../img/svg/search.svg);
  background-size: contain;
  height: 20px;
  width: 20px;
  min-width: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.show-menu-block {
  display: flex;
  flex-direction: column;
  @media (min-width: 640px) {
    flex-direction: column-reverse;

  }

  .catalog-list-title {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #131313;
    opacity: 0.5;
    margin: 10px 0;
    display: block;
    @media (min-width: 960px) {
      display: none;
    }
  }
}

.mobile-links {
  display: flex;
  margin: 10px 0;

  a {
    border-top: 0;
    margin: 0 40px 0 0;
  }

  @media (min-width: 960px) {
    display: none;
  }
}

.show-menu {
  position: fixed;
  top: 68px;
  display: none;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
  width: 100%;
  height: 100%;

  @media (max-width: 960px) {
    height: 100%;
    top: 64px;
    background: #FFFFFF;
    overflow-y: scroll;
  }
  @media (max-width: 640px) {
    top: 0;
  }

  .catalog {
    padding: 10px 20px 20px;
    background: #FFFFFF;
    width: max-content;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    @media (max-width: 960px) {
      width: 100%;
      box-shadow: none;
      padding: 0 0 20px;
      position: relative;
    }
  }

  .catalog-head {
    display: none;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    margin: 0 0 16px;
    @media (max-width: 640px) {
      display: flex;
    }
  }


  &.show {
    display: block;
  }

  .close-menu {
    display: none;
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    background-image: url(../img/svg/X.svg);
    margin: 0 8px 0 0;
    @media (max-width: 960px) {
      display: inline-block;
    }
  }

  .catalog-list {
    display: grid;
    grid-gap: 30px;
    width: max-content;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    margin: 0;
    padding: 0;

    @media (max-width: 960px) {
      width: 100%;
    }
    @media (max-width: 640px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 30px 16px;
      margin: 0 0 16px;
      width: 100%;
    }

    .catalog__item {
      position: relative;
      transition: ease .3s;

      .catalog__item-flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0 0;
      }

      .catalog-link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
      }

      &:hover {
        .product-quantity {
          visibility: visible;
          opacity: 1;
        }

        .catalog-title {
          color: $red;
        }
      }
    }

    .product-quantity {
      visibility: hidden;
      opacity: 0;
      transition: ease .3s;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      color: #939598;
    }

    .catalog-img {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      width: 100%;
      position: relative;
      border-radius: 5px;
      @media (min-width: 960px) {
        max-width: 206px;
      }

      img {
        width: 100%;
        transition: .3s;
      }
    }

    .catalog-title {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      color: #231F20;
      transition: ease .3s;
    }
  }
}