.modal, .product-video-modal {
  display: none;
  position: fixed;
  z-index: 10;
  padding: 50px 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.7);

  &.modal-dop {
    z-index: 9 !important;
  }

  &.option-big-image {
    z-index: 11 !important;
  }

  @media (max-width: 640px) {
    padding-top: 150px;
  }

  &.show {
    display: block;
  }

  .modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    max-width: 1200px;
    width: 600px;
    @media (max-width: 960px) {
      width: 70%;
    }
    @media (max-width: 640px) {
      width: 100%;
      padding: 0 26px;
    }

    .modal-images-content {
      img {
        border-radius: 6px;
      }
    }
  }

  .prev {
    background-image: url(../img/svg/prev.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    transition: .3s;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    left: -25px;
    @media (max-width: 640px) {
      left: 10px;
    }

    &:hover {
      background-image: url(../img/svg/prev-hover.svg);
    }

    &:focus {
      outline: none;
    }
  }

  .next {
    background-image: url(../img/svg/next.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    transition: .3s;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -20px;
    cursor: pointer;
    @media (max-width: 640px) {
      right: 10px;
    }

    &:hover {
      background-image: url(../img/svg/next-hover.svg);
    }

    &:focus {
      outline: none;
    }
  }

  .mySlides {
    display: none;
  }

  img {
    width: 100%;
    object-fit: contain;
  }

  iframe {
    width: 100%;
    border: 0;
    height: 340px;
  }
}

.form-modal {
  .modal-content {
    width: 566px;
    @media (max-width: 640px) {
      width: 100%;
    }

    .send-phone {
      margin: 0 !important;
    }

    .flex {
      margin: 40px 0 0;
    }

    .left {
      min-width: 150px;
    }

    .agreement {
      margin: 0;

      .p .show-agreement {
        margin: 0;
      }
    }

    .gray-text {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #939598;
      display: block;
      margin: 0 0 5px;
    }
  }

  .form-main-title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #231F20;
    margin: 0 0 10px;
    text-align: center;
  }

  .form-main-text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #242424;
    margin: 0 auto;
    max-width: 400px;
  }
}

.form-modal, .form-modal-success, .feedback-form {
  @media (max-width: 640px) {
    background-color: $white;
    padding: 0;
  }

  .modal-content {
    padding: 30px;
    height: max-content;
    max-height: 600px;
    background-color: $white;
    @media (max-width: 640px) {
      height: 100%;
      padding: 30px 16px 60px;
      max-height: 100%;
    }

    .close {
      background-image: url(../img/svg/closeNews.svg);
      top: 10px;
      right: 10px;
      @media (max-width: 640px) {
        top: 30px;
        right: 16px;
      }

      &:hover {
        transform: scale(1.2);
      }
    }

    h2 {
      font-family: 'Roboto Slab', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 42px;
      line-height: 150%;
      color: $black;
      margin: 0 0 16px;
      @media (max-width: 640px) {
        font-size: 32px;
      }
    }

    .main-text {
      font-family: 'Roboto Slab', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 150%;
      color: $black;
      margin: 0 0 16px;
      @media (max-width: 640px) {
        font-size: 24px;
      }
    }

    .small-text {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 150%;
      color: $black;
      @media (max-width: 640px) {
        font-size: 18px;
      }
    }

    .form {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      height: 100%;
    }

    .form-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0;
      @media (max-width: 640px) {
        align-items: flex-start;
        padding: 10px 0
      }
    }

    .flex {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media (max-width: 640px) {
        flex-direction: column;
        align-items: flex-start;
      }

      .right {
        width: 100%;
        margin: 0 0 0 20px;

        @media (max-width: 960px) {
          margin: 20px 0 0;
        }
      }
    }

    .form-row-list {
      max-height: 220px;
      overflow-y: auto;
      transition: .3s;
      width: 100%;
      padding: 0 10px 0 0;

      @media (max-width: 640px) {
        max-height: 300px;
      }
      @media (max-width: 340px) {
        max-height: 250px;
      }

      &::-webkit-scrollbar {
        width: 3px;
      }

      &::-webkit-scrollbar-track {
        background: #EBEBEB;
        width: 1px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $red;
        border-radius: 2px;
      }

      .flex {
        width: 65%;
      }
    }

    .form-title {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: $black;
      width: 70%;
      margin: 0 20px 0 0;

      @media (max-width: 340px) {
        width: 100%;
        margin: 0;
      }

      span {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        color: #6A6A6A;
        display: block;
      }

    }

    .form-option {
      width: max-content;
      text-align: left;
      background: #F1F2F2;
      border-radius: 6px;
      padding: 0 12px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      color: $black;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      height: 26px;
      box-sizing: border-box;
      border: 1px solid #F4F4F4;
      transition: .3s;
      margin: 0;

      @media (max-width: 640px) {
        margin: 8px 0 0;
      }

      input {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: $black;
        border: 1px solid #D5DAE0;
        padding: 0 8px;
        height: 32px;
        width: 40px;
        border-radius: 6px;
        text-align: center;

        &[type='number'] {
          -moz-appearance: textfield;
        }

        &[type=number]::-webkit-inner-spin-button,
        &[type=number]::-webkit-outer-spin-button {
          -webkit-appearance: none;
        }
      }


      .select {
        position: relative;

        &:after {
          content: '';
          background-repeat: no-repeat;
          width: 16px;
          height: 16px;
          background-image: url(../img/svg/select-arrow.svg);
          position: absolute;
          top: 8px;
          right: 8px;
        }

        select {
          cursor: pointer;
          font-family: 'Roboto', sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
          color: $black;
          padding: 0 8px;
          height: 32px;
          text-align: center;
          border: 1px solid #D5DAE0;
          box-sizing: border-box;
          border-radius: 6px;
          width: 95px;
          background-color: $white;
          -moz-appearance: none;
          -webkit-appearance: none;

          &::-ms-expand {
            display: none;
          }
        }
      }
    }

    .form-price {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #131313;
      min-width: 75px;
      text-align: right;
    }


    .form-total {
      border-top: 1px solid #EBEBEB;
      padding: 16px 0 0;
      display: flex;
      align-items: center;
      justify-content: space-between;


      span {
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 23px;
        color: $black;
      }

      .total-price {
        font-family: 'Roboto Slab', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 42px;
        color: $black;

        span {
          font-family: 'Roboto Slab', sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 32px;
          line-height: 42px;
          color: $black;
          margin: 0 0 0 4px;
        }
      }
    }

    .send-phone {
      margin: 70px 0 0;
      @media (max-width: 960px) {
        margin: 10px 0 0;
      }

      p {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #000000;
        margin: 0 0 10px;
      }

      .flex {
        display: flex;
        @media (max-width: 960px) {
          flex-direction: column;
          align-items: flex-start;
        }

        .red-btn {
          width: 100%;
          max-width: 195px;
          margin: 0 0 0 10px;
          @media (max-width: 960px) {
            margin: 10px auto 0;
          }
          @media (max-width: 640px) {
            max-width: 100%;
          }
        }

        .input-block {
          width: 100%;
          position: relative;

          input {
            width: 100%;
            border: 1px solid #EBEBEB;
            border-radius: 6px;
            height: 40px;
            padding: 0 12px;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 150%;
            color: #131313;
            transition: .3s;
            @media (max-width: 340px) {
              padding: 0 8px;
              font-size: 14px;
            }

            &.input-red {
              border: 1px solid $red;
            }

            &:hover {
              border: 1px solid $red;
            }
          }

          .error {
            position: absolute;
            bottom: -16px;
            left: 4px;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 150%;
            color: #ee3d48;
            display: none;
          }

          .form-feedback-type {
            position: absolute;
            top: 4px;
            right: 4px;
            background: #F5F5F5;
            border-radius: 6px;
            width: 158px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            @media (max-width: 340px) {
              width: 138px;
            }

            span {
              font-family: 'Work Sans', sans-serif;
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 16px;
              color: #131313;
            }

            &:after {
              content: '';
              background-image: url(../img/svg/arrow-black.svg);
              width: 16px;
              height: 16px;
              background-repeat: no-repeat;
              margin: 0 0 0 10px;
            }

            .feedback-type-list {
              position: absolute;
              top: 36px;
              right: 0;
              list-style: none;
              width: 158px;
              z-index: 2;
              background-color: $white;
              margin: 0;
              padding: 12px;
              box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
              display: none;
              @media (max-width: 340px) {
                width: 138px;
              }

              &.show {
                display: block;
              }

              li {
                cursor: pointer;
                font-family: 'Work Sans', sans-serif;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                color: $black;
                padding: 8px 0;
                border-bottom: 1px solid #EBEBEB;
                transition: .3s;

                &:last-child {
                  border-bottom: 0;
                }

                &:hover {
                  color: $red;
                }
              }
            }
          }
        }
      }

    }
  }
}

.agreement {
  margin: 16px 0 0;

  label {
    display: flex;
    align-items: center;
    position: relative;

    .option-checkbox {
      margin: 0 10px 0 0;
    }
  }

  .error {
    position: absolute;
    bottom: -16px;
    left: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 150%;
    color: #ee3d48;
    display: none;
  }

  .p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: $black;
    margin: 0;

    .show-agreement {
      color: $red;
      text-decoration: underline;
      margin: 0 0 0 6px;
      display: inline-block;
      cursor: pointer;
      @media (max-width: 450px) {
        margin: 0;
      }
    }
  }
}

.form-modal-agreement {
  @media (max-width: 640px) {
    padding: 20px;
  }

  .modal-content {
    padding: 30px;
    background-color: $white;
    @media (max-width: 640px) {
      padding: 30px 16px 16px;
    }


    .main-text {
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 125%;
      color: $black;
      margin: 0 0 24px;
      @media (max-width: 640px) {
        margin: 0 0 16px;
      }
    }

    .small-text {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 150%;
      color: $black;
      margin: 0 0 12px;
      @media (max-width: 640px) {
        font-size: 16px;
        margin: 0 0 6px;
      }
    }
  }
}

.option-checkbox {
  margin: 0 0 0 12px;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;

  &:focus {
    outline: none;
    background: none;
  }

  &:active {
    outline: none;
    background: none;
  }

  input {
    display: none;

    &:checked + .indicator {
      background-image: url(../img/svg/checked.svg);
      background-repeat: no-repeat;
      background-size: contain;
      border: 0;
    }

    &:checked + .option-text {
      visibility: hidden;
      position: relative;

      &:after {
        content: '';
        background-image: url(../img/svg/red-check.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }

      &:before {
        content: '';
      }
    }
  }


  .indicator {
    background: $white;
    border: 1px solid $red;
    box-sizing: border-box;
    border-radius: 2px;
    width: 15px;
    height: 15px;
    display: block;

    &.uncheck {
      animation: wiggle 2s infinite;
      @keyframes wiggle {
        0%,
        100% {
          transform: scale(1.2);
        }

        50% {
          transform: scale(0.8);
        }
      }

    }
  }

}

.back {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #131313;
  opacity: 0.5;
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  &:before {
    content: '';
    background-image: url(../img/svg/back.svg);
    background-repeat: no-repeat;
    height: 10px;
    width: 16px;
    margin: 0 10px 0 0;
  }
}
