.modal-dop {
  padding: 0;

  @media (min-width: 640px) {
    padding: 30px 0;
  }

  .modal-content {
    position: relative;
    margin: auto;
    padding: 20px;
    max-width: 1200px;
    width: 884px;
    background-color: $white;
    @media (max-width: 960px) {
      width: 90%;
    }
    @media (max-width: 640px) {
      width: 100%;
      padding: 20px 16px 60px;
    }

    .close {
      background-image: url(../img/svg/closeNews.svg);
      top: 10px;
      right: 10px;
      @media (max-width: 960px) {
        top: 0;
        right: 0;
      }
      @media (max-width: 640px) {
        top: 5px;
        right: 5px;
      }

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  h2 {
    font-style: normal;
    font-weight: bold;
    color: $black;
    margin: 0 0 10px;
    font-size: 28px;
    line-height: 37px;
  }

  p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #131313;
    margin: 0 0 25px;
  }

  .form-flex {
    display: flex;
    justify-content: space-between;
    @media (max-width: 640px) {
      margin: 30px 0 0;
      flex-wrap: wrap;
    }

    .left {
      max-width: 280px;
      width: 100%;
      margin: 0 20px 0 0;
      @media (max-width: 960px) {
        margin: 0 20px 0 0;
      }
      @media (max-width: 640px) {
        max-width: 100%;
        margin: 0 0 30px;
      }

      .swiper-slide img {
        border-radius: 3px;
        overflow: hidden;
      }
    }

    .all-price-block {
      display: flex;
      margin: 0 0 30px;
      justify-content: space-between;
      max-width: 80%;
      @media (max-width: 960px) {
        max-width: 100%;
      }

    }

    .right {
      width: 100%;
      @media (max-width: 640px) {
        max-width: 100%;
      }
    }

    .center {
      width: 100%;
      @media (max-width: 960px) {
        max-width: 50%;
      }
      @media (max-width: 640px) {
        max-width: 100%;
        margin: 20px 0 0;
      }

    }
  }


  .gray-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #939598;
    margin: 0 0 8px;
    display: block;
  }

  .total-form-price {
    display: flex;
    align-items: center;


    .form-product-price {
      font-style: normal;
      font-weight: 500;
      font-size: 22px;
      line-height: 29px;
      color: $black;
      font-family: 'Roboto Slab', sans-serif;
    }

    .rub {
      font-family: 'Work Sans', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 29px;
      color: $black;
      margin: 0 0 0 4px;
    }
  }

  .dop-price {

    .total-dop-price {
      display: flex;
      align-items: center;

      span {
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 29px;
        color: #A3A3A3;
        font-family: 'Roboto Slab', sans-serif;

        &.rub {
          margin: 0 0 0 4px;
        }
      }
    }

    .dop-text {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      color: #939598;
      margin: 0 0 0 6px;
    }

  }
}

.product-property {
  display: block;
  @media (min-width: 640px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media (min-width: 960px) {
    flex-wrap: nowrap;
  }
}

.time-item, .size-item {
  background: #F1F2F2;
  border-radius: 6px;
  padding: 0 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: $black;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 26px;
  box-sizing: border-box;
  border: 1px solid transparent;
  transition: ease .3s;
  margin: 0 8px 8px 0;

  &:hover {
    background-color: #dde0e0;
  }

  &.active {
    background: #6A6A6A;
    color: $white;
  }
}

.options-block {
  position: relative;
  margin: 20px 0 0;
}

.options-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 15px;
  @media (max-width: 640px) {
    flex-direction: column-reverse;
  }

  .check-options {
    display: flex;
    align-items: center;
    @media (max-width: 640px) {
      align-self: flex-end;
    }

    .check-options-quantity {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      color: $black;
      min-width: 90px;
    }

    .gray-text {
      margin: 0 6px 0 0;
    }
  }

  .option-title {
    p {
      font-family: ' Roboto Slab', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;
      color: #A3A3A3;
      margin: 0;

    }
  }

  .options-slider-nav {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    color: #939598;
    display: inline-block;
    width: max-content;
    @media (max-width: 640px) {
      display: none;
    }
  }
}

.slider-block {
  position: relative;

  .swiper-button-next {
    top: -28px;
    background-image: url(../img/svg/option-nav.svg);
    height: 30px;
    width: 30px;
    @media (max-width: 670px) {
      display: none;
    }

    &.swiper-button-disabled {
      opacity: 0.2;
      display: block;
      @media (max-width: 670px) {
        display: none;
      }
    }
  }

  .swiper-button-prev {
    background-image: url(../img/svg/option-nav.svg);
    height: 30px;
    width: 30px;
    transform: rotate(180deg);
    top: -28px;
    right: 40px;
    left: auto;
    @media (max-width: 670px) {
      display: none;
    }

    &.swiper-button-disabled {
      opacity: 0.2;
      display: block;
      @media (max-width: 670px) {
        display: none;
      }
    }
  }
}

.options-slider {
  .swiper-slide {
    background: #FAFAFA;
    border-radius: 6px;
    overflow: hidden;
    width: 195px;
    min-width: 195px;
    max-width: 195px;
    border: 1px solid #939598;
    height: auto;

    &.active {
      background: #D5DAE0;
      border: 1px solid transparent;

    }

    .option-image {
      width: 100%;
      height: auto;
      cursor: zoom-in;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 195px;
        height: auto;
      }
    }

    .option-content {
      padding: 8px;
      cursor: pointer;
      position: relative;
      height: calc(100% - 115px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .option-click {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
      }

      .option-title {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: $black;
        margin: 0 0 5px;
      }

    }

    .option-price-block {
      display: flex;
      align-items: center;
      margin: auto 0 8px;

      .option-price {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        color: $black;
      }

      .rub {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        color: $black;
        margin: 0 0 0 4px;
      }
    }

    .option-flex {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 26px;

      .option-checkbox {
        margin: 0;
        width: 100%;
        height: auto;
        justify-content: flex-start;

        input {
          display: none;

          &:checked + .option-text {
            visibility: hidden;
            position: relative;

            &:after {
              content: '';
              background-image: url(../img/svg/red-check.svg);
              background-repeat: no-repeat;
              background-size: contain;
              background-position: center;
              visibility: visible;
              border: 1px solid #FFFFFF;
              margin: 0;
            }

            &:before {
              content: '';
            }
          }
        }

        .option-text {
          display: inline-flex;
          align-items: center;

          &:before {
            content: 'Добавить';
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
            color: #EE3D48;
          }

          &:after {
            content: '';
            background: #FFFFFF;
            width: 15px;
            height: 15px;
            min-width: 15px;
            border: 1px solid #ee3d48;
            box-sizing: border-box;
            border-radius: 2px;
            margin: 0 0 0 8px;
          }
        }
      }

    }
  }
}

.option-quantity {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;

  .time-text {
    position: absolute;
    bottom: -15px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #D5DAE0;
    left: 35px;
  }

  input {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #000;
    border: 0;
    width: 30px;
    background-color: transparent;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[type=number] {
      -moz-appearance: textfield;
    }
  }


  .plus, .minus {
    color: #000;
    font-size: 24px;
    line-height: 24px;
    cursor: pointer;
    opacity: 0.2;
    width: 20px;
    transition: ease .3s;
    position: relative;

    &:hover {
      transform: scale(1.2);
    }

    &.disabled {
      opacity: 0.1;
      cursor: auto;

      &:hover {
        transform: scale(1);
      }

    }
  }

  .plus {
    text-align: left;
  }

  .minus {
    text-align: right;
    height: 24px;
    width: 24px;

    &:after {
      content: '';
      height: 2px;
      width: 12px;
      background: #000;
      border-radius: 1px;
      cursor: pointer;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
  }
}

.option-sort-block {
  margin: 0 0 15px;
  overflow-y: auto;
  padding: 0 0 5px;
}

.option-sort {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #A3A3A3;
  box-sizing: border-box;
  border-radius: 6px;
  width: max-content;
  overflow: hidden;
  height: 30px;

  .option-sort-item {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #A3A3A3;
    padding: 0 15px;
    border-right: 1px solid #A3A3A3;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: ease .3s;
    @media (max-width: 960px) {
      padding: 0 8px;
    }

    &:hover {
      color: #6A6A6A;
    }

    &:last-child {
      border-right: 0;
    }

    &.active {
      background: #A3A3A3;
      color: $white;
    }
  }
}

.modal-show-product-video {
  border: 1px solid $red;
  box-sizing: border-box;
  border-radius: 6px;
  height: 40px;
  padding: 0 12px 0 8px;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: $red;
  margin: 15px 0 0;
  @media (max-width: 640px) {
    font-size: 14px;
    line-height: 16px;
  }

  &:before {
    content: '';
    background-image: url(../img/svg/play-video.svg);
    width: 32px;
    height: 32px;
    margin: 0 8px 0 0;
    background-repeat: no-repeat;
    transition: ease 0.35s;
  }

  &:hover {
    &:before {
      transform: scale(1.2);
    }
  }
}

.option-form-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 20px 0 0;
  @media (max-width: 960px) {
    flex-wrap: wrap;
  }

  .red-btn {
    max-width: 100%;
    margin: 0;
    @media (min-width: 640px) {
      max-width: 228px;
    }
  }

  .clear-options {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    width: 195px;
    height: 40px;
    color: #939598;
    background: #FFFFFF;
    border: 1px solid #939598;
    box-sizing: border-box;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 15px 0 0;
    transition: ease 0.35s;
    cursor: pointer;
    @media (max-width: 640px) {
      width: 100%;
      margin: 0 0 10px;
    }

    &:hover {
      color: $white;
      background: #939598;
    }
  }
}