.news {
  padding: 30px 0;
  background-color: $white;
  margin: 0 0 90px;
  @media (max-width: 640px) {
    margin: 0 0 30px;
  }


  .red-btn {
    margin: 60px auto 0;
    width: 273px;
  }
}

.news-list {
  display: grid;
  grid-gap: 40px 20px;
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 640px) {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }

  .news-cart__item {
    background-color: #FAFAFA;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    position: relative;
    cursor: pointer;

    .news-cart-link, .news-link {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
    }

    &:hover {
      .news-cart-img {
        transform: scale(1.1);
      }

      .news-cart-title {
        color: $red;
      }
    }

    .news-cart-image {
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;

      .news-cart-img {
        transition: .3s;
        width: 376px;
        height: 350px;

        @media (max-width: 1240px) {
          width: 100%;
          height: auto;
        }
      }
    }

    .news-cart-description {
      padding: 20px 12px;
      position: relative;

      &:before {
        content: '';
        background-image: url(../img/svg/news-icon.svg);
        position: absolute;
        top: -30px;
        left: 16px;
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }

    .news-cart-category {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      margin: 0 0 4px;
      color: $red;
    }

    .news-cart-title {
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 28px;
      margin: 0 0 12px;
      color: $black;
      transition: .3s;
    }

    .news-cart-text {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      margin: 0 0 24px;
      color: $black;
    }

    .news-cart-date {
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      color: #939598;

    }
  }
}

.news-modal {
  padding: 60px 0;

  &.modal {
    @media (max-width: 960px) {
      padding: 50px 0;
      height: 100%;
    }

    .modal-content {
      max-width: 900px;
      width: max-content;

      @media (max-width: 960px) {
        max-width: calc(100% - 40px);
        margin: 0 20px;
        padding: 0;
      }
    }

    .close {
      top: 18px;
      right: 10px;
      background-image: url(../img/svg/closeNews.svg);
      @media (max-width: 960px) {
        top: -10px;
        right: -10px;
        background-image: url(../img/svg/close.svg);
        z-index: 12;
      }

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  .news-modal-content {
    display: flex;
    align-items: flex-start;
    background-color: $white;
    max-height: 600px;

    @media (max-width: 960px) {
      display: block;
      max-height: max-content;
    }
  }

  .news-slider {
    background-color: $white;
    max-width: 600px;

    @media (max-width: 960px) {
      padding: 0 0 12px;
    }

    .swiper-wrapper {
      height: auto;
    }

    .swiper-slide {
      max-width: 600px;
      max-height: 600px;
      height: auto;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }

    .swiper-button-prev {
      left: 10px;
    }

    .swiper-button-next {
      right: 10px;
    }

    .swiper-pagination {
      bottom: 20px;
      @media (max-width: 960px) {
        bottom: 0;
      }
    }
  }


  .news-description {
    max-width: 300px;
    padding: 30px 20px;
    overflow-y: auto;
    max-height: inherit;
    background-color: $white;
    @media (max-width: 960px) {
      padding: 12px 12px 30px;
      max-width: 100%;
    }

    .news-scroll-content {
      height: max-content;
    }

    .news-title {
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 28px;
      color: $black;
      margin: 0 0 4px;
    }

    .category-title {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      color: $red;
      margin: 0 0 12px;
    }

    .news-date {
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      color: #6A6A6A;
      margin: 0 0 20px;
    }

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 130%;
      color: $black;
      margin: 12px 0 0;
    }
  }
}

.all-news {
  background-color: $white;
  padding: 90px 0 30px;
  position: relative;
  @media (min-width: 960px) {
    padding: 140px 0 60px;

  }
}

.news-detail {
  background-color: $white;
  padding: 90px 0 30px;
  position: relative;
  @media (min-width: 960px) {
    padding: 140px 0 60px;

  }

  .swiper-container .swiper-pagination {
    bottom: 10px;
  }

  .flex {
    @media (min-width: 640px) {
      display: flex;
    }

    .left {
      @media (min-width: 640px) {
        width: 50%;
        max-width: 550px;
      }
    }

    .right {
      margin: 30px 0 0;
      @media (min-width: 640px) {
        margin: 20px 0 0 20px;
        width: 50%;
      }
    }
  }

  .news-detail-category {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #E20338;
    margin: 0 0 20px;
  }

  .news-detail-date {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #939598;
    margin: 0 0 20px;

  }

  .news-detail-text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #131313;
    margin: 0;


  }
}

.news-category-block {
  overflow: hidden;
  position: relative;
  margin: 0 0 30px;

  .news-category-scroll {
    position: absolute;
    top: -3px;
    width: 70px;
    height: 40px;
    z-index: 9;
    cursor: pointer;
    display: none;

    &.next {
      right: -2px;
      background: url(../img/svg/more-category.svg) no-repeat center right, linear-gradient(90deg, rgba(255, 255, 255, 0) -3.06%, #FFFFFF 60.32%);
    }

    &.prev {
      left: -2px;
      transform: rotate(-180deg);
      background: url(../img/svg/more-category.svg) no-repeat center right, linear-gradient(90deg, rgba(255, 255, 255, 0) -3.06%, #FFFFFF 60.32%);
    }

    &.show {
      @media (min-width: 640px) {
        display: block;
      }

    }
  }
}

.news-category {
  position: relative;
  display: flex;
  align-items: center;
  overflow-x: auto;
  padding: 0 0 10px;
  scroll-behavior: smooth;
}

.news-category-list {
  display: flex;

  .news-category-item {
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    padding: 0 20px;
    color: #000000;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 4px;
    height: 34px;
    margin: 0 10px 0 0;
    cursor: pointer;
    transition: ease .3s;

    &.active {
      color: #FFFFFF;
      background-color: black;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}