.popular-products {
  padding: 60px 0 30px;
  @media (min-width: 960px) {
    padding: 80px 0 40px;
  }

  .popular-products-slider {
    padding: 10px;
    margin: -10px;
  }

  .popular-products-container {
    position: relative;
  }

  .popular-next {
    background-image: url("../img/svg/next-w.svg");
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    width: 30px;
    height: 30px;
    min-width: 30px;
    border-radius: 50%;
    right: -10px;
    top: 50%;
    @media (min-width: 1240px) {
      right: -50px;
    }
  }

  .popular-prev {
    background-image: url("../img/svg/next-w.svg");
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    transform: rotate(180deg);
    width: 30px;
    height: 30px;
    min-width: 30px;
    border-radius: 50%;
    left: -10px;
    top: 50%;
    @media (min-width: 1240px) {
      left: -50px;
    }
  }
}