.product-cart {
  background-color: $white;
  padding: 12px 12px;
  box-sizing: border-box;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;

  &:hover {
    .red-btn {
      background: $white;
      color: $red;
    }
  }

  .product-cart-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  @media (max-width: 640px) {
    padding: 12px 12px;
    border: 0;
    border-radius: 0;
    margin: 0;
    &:last-child {
      border-bottom: 0;
    }
  }

  .options-modal-btn {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 40%;
    z-index: 1;
    cursor: pointer;
  }

  .product-cart-image {
    width: 100%;
    margin: 0;
    cursor: pointer;


    .image {
      position: relative;

      .modal {
        z-index: 24;
      }

      .product-favorite {
        position: absolute;
        right: 8px;
        top: 8px;
        background-image: url(../img/svg/fav.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 40px;
        width: 40px;
        min-width: 40px;
        z-index: 2;
        transition: ease .3s;

        &:hover {
          background-image: url(../img/svg/fav_hover.svg);
        }

        &.active {
          background-image: url(../img/svg/fav_active.svg);
        }
      }

      .show-product-video {
        border-radius: 20px;
        position: absolute;
        top: 10px;
        right: 57px;
        z-index: 2;
        height: 40px;
        transition: ease 0.35s;
        cursor: pointer;
        width: 40px;
        background-image: url(../img/svg/vide0.svg);
        background-size: cover;
        background-repeat: no-repeat;

        &.active {
          width: 195px;
        }

        &:hover {
          width: 195px;
        }
      }


    }
  }

  .product-cart-content {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: $black;
    margin: 16px 0 15px;
    padding: 0;

    .red {
      color: $red;
    }
  }

  .product-cart-description {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: $black;
    margin: 0;
    display: -webkit-box !important;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical !important;
    overflow: hidden;
  }

  .product-cart-row-bottom {
    margin: auto 0 0;
  }


  .red-btn {
    width: 100%;
    margin: 30px auto 0;

    &.hover {
      background: $white;
      color: $red;
    }
  }

  .change-price {
    margin: 0;
  }

  .price-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 18px 0 0;

    span {
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      color: $black;
      opacity: 0.5;
    }

    .change-price {
      width: max-content;


      span {
        font-family: 'Roboto Slab', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        opacity: 1;
        @media (max-width: 340px) {
          font-size: 26px;
          line-height: normal;
        }

        &.text {
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 18px;
        }

        &.rub {
          font-weight: 600;
          font-family: 'Work Sans', sans-serif;
        }
      }
    }
  }

  .red-btn {
    margin: 15px 0 0;
    height: 40px;
    @media (max-width: 640px) {
      font-size: 16px;
      line-height: normal;
    }
    @media (max-width: 340px) {
      font-size: 14px;
      line-height: normal;
    }
  }
}