.seo {
  .main-article {
    margin: 0 auto 60px;

    .grid {
      display: grid;
      grid-gap: 20px;
      @media (min-width: 640px) {
        grid-template-columns: repeat(2, 1fr);
        max-width: 930px;
        margin: 0 auto;
      }

      h3 {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        color: #131313;
        margin: 0 0 15px;
      }

      article {
        margin: 0;

        p {
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 19px;
          color: #131313;
          padding: 0 0 10px;
        }
      }

      img {
        width: 100%;
        object-fit: cover;
        height: auto;
        border-radius: 5px;
        margin: 0 0 20px;
      }
    }

    .flex {
      display: flex;
      @media (max-width: 960px) {
        display: block;
      }
    }

    .left, .right {
      width: 50%;
    }

    .left {
      padding: 0 50px 0 0;
    }

    h3 {
      margin: 0 0 10px;
    }

    article, section {
      margin: 0 0 40px;
    }

    p {
      margin: 0 0 16px;
    }

    ul {
      list-style: none;
      padding: 0 0 0 20px;
      margin: 10px 0;

      li {
        display: flex;
        align-items: center;
        margin: 0 0 6px;

        &:before {
          content: "";
          background-color: #131313;
          font-weight: bold;
          display: inline-block;
          width: 5px;
          height: 5px;
          min-width: 5px;
          border-radius: 50%;
          margin: 0 10px 0 0;
        }
      }
    }
  }
}