.block-titles {
  font-family: "Roboto Slab", sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #6A6A6A;
  margin: 0 0 15px;
  font-size: 18px;
  line-height: 21px;

  @media (min-width: 960px) {
    font-size: 24px;
    line-height: 36px;
  }

  .red {
    color: $red;
    margin: 0 0 0 8px;
  }
}

.sub-title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #6A6A6A;
  margin: 0 0 4px;
}

.crumb {
  margin: 0 0 10px;
  display: none;
  @media (min-width: 960px) {
    display: block;
  }

  .crumb-block {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    .crumb-item {
      display: inline-flex;
      align-items: center;

      &:after {
        content: '-';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 130%;
        color: #A3A3A3;
        margin: 0 5px;
      }

      &.last {
        &:after {
          content: none;
        }

        a {
          color: #6A6A6A;

          &:hover {
            color: #6A6A6A;
          }
        }
      }

      a {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 130%;
        color: #A3A3A3;
        transition: ease .3s;

        &:hover {
          color: #838383;
        }
      }
    }
  }
}

.center-title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #231F20;
  margin: 0 0 20px;
  text-align: left;
  @media (min-width: 640px) {
    text-align: center;
  }

  &.gray {
    color: #A3A3A3;
  }

  &.left-gray {
    color: #6A6A6A;
    text-align: left;
  }
}