{% extends 'base/base.html' %}
{% load staticfiles %}
{% load webp_converter %}
{% block meta %}
    <title itemprop="headline">Фотобудки и фотозоны в аренду &#128247; на корпоративное мероприятие и свадьбу в Москве с
        доставкой</title>
    <meta itemprop="description" name="description"
          content="Заказать доставку фотобудки на свадьбу и мероприятие. &amp;#128248; Монтаж и оформление фотозон на день рождение и изготовление решений на заказ для корпоративных праздников."/>
    <meta property="og:type" content="website"/>
    <meta property="og:title"
          content="Фотобудки и фотозоны в аренду &amp;#128247; на корпоративное мероприятие и свадьбу в Москве с доставкой"/>
    <meta property="og:description"
          content="Заказать доставку фотобудки на свадьбу и мероприятие. &amp;#128248; Монтаж и оформление фотозон на день рождение и изготовление решений на заказ для корпоративных праздников."/>
    <meta property="og:url" content="http://fotobudka-v-arendu.ru/"/>
    <link rel="canonical" href="https://fotobudka-v-arendu.ru/"/>
{% endblock %}

{% block content %}
    <section class="content">
        <div class="container">
            <div class="error">
                <img src="{% static_webp 'img/png/404.png' 90 %}" alt="Error"/>
                <div class="error-text">
                    <h1> Упс! Страница не найдена :(</h1>
                    <p>Страница либо была удалена из-за неактуальности информации, либо переехала, либо мы её ещё не
                        создали. Воспользуйтесь полем поиска, или перейдите на<a href="{% url 'main' %}">Главную страницу</a>сайта.</p>
                </div>
            </div>
        </div>
    </section>
    {% include 'include/contacts.html' %}
{% endblock %}