{% extends 'base/base.html' %}
{% load staticfiles %}
{% load my_filters %}
{% block meta %}
    <title itemprop="headline">Фотобудки и фотозоны в аренду &#128247; на корпоративное мероприятие и свадьбу в Москве с
        доставкой</title>
    <meta itemprop="description" name="description"
          content="Заказать доставку фотобудки на свадьбу и мероприятие. &amp;#128248; Монтаж и оформление фотозон на день рождение и изготовление решений на заказ для корпоративных праздников."/>
    <meta property="og:type" content="website"/>
    <meta property="og:title"
          content="Фотобудки и фотозоны в аренду &amp;#128247; на корпоративное мероприятие и свадьбу в Москве с доставкой"/>
    <meta property="og:description"
          content="Заказать доставку фотобудки на свадьбу и мероприятие. &amp;#128248; Монтаж и оформление фотозон на день рождение и изготовление решений на заказ для корпоративных праздников."/>
    <meta property="og:url" content="http://fotobudka-v-arendu.ru{% url 'basket' %}"/>
    <link rel="canonical" href="https://fotobudka-v-arendu.ru{% url 'basket' %}"/>
{% endblock %}

{% block content %}
    <section class="basket">
        <div class="container">
            <div class="basket-title">
                <h1>Корзина</h1>
                <div class="basket-clear">Очистить корзину</div>
            </div>
            <div class="basket-flex">
                <div class="basket-list">
                    {% for item in cart.items %}
                        <div class="basket-parent">
                            <div class="basket-row product-basket-item" data-product-id="{{ item.product.id }}">
                                {% if item.product.category_slug %}
                                    <a href="{% url 'product' item.product.category_slug.slug item.product.slug %}" class="basket-item-img">
                                {% else %}
                                    <a href="{% url 'product' item.product.category.first.slug item.product.slug %}" class="basket-item-img">
                                {% endif %}
                                <img src="{{ item.product.slider.first.image_crop_small.url }}" alt="">
                                </a>
                                <div class="basket-item-title">{{ item.product.title }}</div>
                                <div class="basket-item-property">
                                    {% if item.product.size.all %}
                                        <div class="default-select size">
                                            <div class="check-select">{{ item.size }}</div>
                                            <div class="select-list">
                                                {% for size in item.product.size.all %}
                                                    <div class="select-item" data-price="{{ size.price|floatformat }}">{{ size.size }}</div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="default-select time">
                                        <div class="check-select">{{ item.time }}</div>
                                        <div class="select-list">
                                            <div class="select-item" data-text="1 час" data-count="1" data-time="{{ item.product.price1|floatformat }}">1 час</div>
                                            <div class="select-item" data-text="2 часа" data-count="2" data-time="{{ item.product.price2|floatformat }}">2 часа</div>
                                            <div class="select-item" data-text="3 часа" data-count="3" data-time="{{ item.product.price3|floatformat }}">3 часа</div>
                                            <div class="select-item" data-text="5 часов" data-count="4" data-time="{{ item.product.price4|floatformat }}">5 часов</div>
                                            <div class="select-item" data-text="2 дня" data-count="5" data-time="{{ item.product.price5|floatformat }}">2 дня</div>
                                            <div class="select-item" data-text="3 дня" data-count="6" data-time="{{ item.product.price6|floatformat }}">3 дня</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="basket-item-other">
                                    <div class="basket-item-block-price">
                                        <span class="basket-item-price">{{ item.product_price_total|floatformat }}</span>
                                        <span class="rub">₽</span>
                                    </div>
                                    <div class="basket-item-remove product-delete"></div>
                                </div>
                            </div>
                            {% if item.options %}
                                <div class="basket-option-list">
                                    <p class="basket-option-title">Опции к товару</p>
                                    {% for option in item.options %}
                                        {% option_title option.id as option_item %}
                                        <div class="basket-row option-basket-item" data-product-id="{{ item.product.id }}" data-option-id="{{ option.id }}">
                                            <div class="basket-item-img">
                                                <img src="{{ option_item.first.image_crop_basket.url }}" alt="">
                                            </div>
                                            <div class="basket-item-title">{{ option_item.first.title }}</div>
                                            <div class="basket-item-property">
                                                <div class="default-quantity">
                                                    <span class="default-quantity-btn minus minus-js"></span>
                                                    <input type="number" class="default-quantity-input option-basket-input" value="{{ option.quantity }}" min="1" max="999"
                                                           {% if not option_item.first.quantity %}readonly{% endif %}>
                                                    <span class="default-quantity-btn plus {% if option_item.first.quantity %}plus-js{% else %}disabled{% endif %}"></span>
                                                </div>
                                            </div>
                                            <div class="basket-item-other">
                                                <div class="basket-item-block-price" data-price="{{ option_item.first.price|floatformat }}">
                                                    <span class="basket-item-price">{{ option.price }}</span>
                                                    <span class="rub">₽</span>
                                                </div>
                                                <div class="basket-item-remove option-delete"></div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <div class="desktop-basket-total">
                    <div class="basket-total-title">Сумма заказа</div>
                    <div class="basket-total-flex">
                        <span class="basket-total-item">Итого</span>
                        <div class="basket-total-block-price">
                            <span class="basket-total-price basket-desktop-price">{{ cart.total }}</span>
                            <span class="rub">₽</span>
                        </div>
                    </div>
                    <div class="basket-total-info">Условия доставки и получения скидок уточняйте у нашего менеджера
                    </div>
                    <div class="main-btn basket-total-btn form-modal-btn"> Оформить заказ</div>
                </div>
            </div>
        </div>
        <div class="mobile-basket-total">
            <div class="container">
                <div class="basket-total-flex">
                    <span class="basket-total-item">Сумма заказа</span>
                    <div class="basket-total-block-price">
                        <span class="basket-total-price basket-mobile-price">{{ cart.total }}</span>
                        <span class="rub">₽</span>
                    </div>
                </div>
                <div class="basket-total-info">Условия доставки и получения скидок уточняйте у нашего менеджера
                </div>
                <div class="main-btn basket-total-btn form-modal-btn"> Оформить заказ</div>
            </div>
        </div>
    </section>
    <div class="modal order-modal">
        <div class="modal-content">
            <div class="modal-close"></div>
            <form class="order-form" action="{% url 'order' %}" method="post" id="orderForm">
                {% csrf_token %}
                <div class="modal-title">Оформление</div>
                <p class="modal-text">Укажите ваши данные и выберите удобный способ связи</p>
                <div class="default-input">
                    <span class="error-text">Заполните это поле</span>
                    <input type="text" placeholder="Иван" name="name">
                </div>
                <div class="default-input">
                    <span class="error-text">Заполните это поле</span>
                    <input class="phone-mask" type="text" placeholder="+7 (495) 666 88 88" name="phone">
                </div>
                <div class="feedback-type">
                    <div class="feedback-type-check">Позвонить по телефону</div>
                    <input class="feedback-type-input" name="feedback_type" value="Позвоните мне" hidden="hidden" id="feedbackInput"/>
                    <div class="feedback-type-list">
                        <div class="feedback-type-item check">Позвонить по телефону</div>
                        <div class="feedback-type-item">Написать в WhatApp</div>
                        <div class="feedback-type-item">Написать в Telegram</div>
                    </div>
                </div>
                <div class="modal-confirm">Нажимая на кнопку, даю согласие
                    <span class="show-confirm-modal">на обработку персональных данных</span>
                </div>
                <div class="main-btn send-order-form-btn"> Оформить заказ</div>
            </form>
        </div>
    </div>
    <div class="modal success-modal clear-cart-modal">
        <div class="modal-content">
            <div class="modal-close"></div>
            <div class="modal-answer-title">Вы уверены что хотите очистить корзину?</div>
            <div class="main-btn clear-cart-btn">Очистить</div>
        </div>
    </div>
    {% include 'include/recommendation.html' %}

    {% include 'include/contacts.html' %}
{% endblock %}