{% extends 'base/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load my_filters %}
{% block meta %}
    <title itemprop="headline">Фотобудки и фотозоны в аренду &#128247; на корпоративное мероприятие и свадьбу в Москве с
        доставкой</title>
    <meta itemprop="description" name="description"
          content="Заказать доставку фотобудки на свадьбу и мероприятие. &amp;#128248; Монтаж и оформление фотозон на день рождение и изготовление решений на заказ для корпоративных праздников."/>
    <meta property="og:type" content="website"/>
    <meta property="og:title"
          content="Фотобудки и фотозоны в аренду &amp;#128247; на корпоративное мероприятие и свадьбу в Москве с доставкой"/>
    <meta property="og:description"
          content="Заказать доставку фотобудки на свадьбу и мероприятие. &amp;#128248; Монтаж и оформление фотозон на день рождение и изготовление решений на заказ для корпоративных праздников."/>
    <meta property="og:url" content="http://fotobudka-v-arendu.ru{% url 'favorites' %}"/>
    <link rel="canonical" href="https://fotobudka-v-arendu.ru{% url 'favorites' %}"/>
{% endblock %}
{% block content %}
    <section class="catalog">
        <div class="container">
            <h1 class="section-title">Избранное </h1>
            <div class="catalog-list favorite-list">
                {% include 'include/product-item.html' with products=products %}
            </div>
        </div>
    </section>
    {% include 'include/feedback.html' %}
    {% include 'include/contacts.html' %}
{% endblock %}