{% extends 'base/base.html' %}
{% load webp_converter %}
{% load staticfiles %}
{% block meta %}
    <title itemprop="headline">Фотобудки и фотозоны в аренду &#128247; на корпоративное мероприятие и свадьбу в Москве с
        доставкой</title>
    <meta itemprop="description" name="description"
          content="Заказать доставку фотобудки на свадьбу и мероприятие. &amp;#128248; Монтаж и оформление фотозон на день рождение и изготовление решений на заказ для корпоративных праздников."/>
    <link rel="preload" href="{% static 'img/jpg/banner3.jpg' %}" as="image" type="image/jpeg"
          media="only screen and (max-width: 48rem)"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title"
          content="Фотобудки и фотозоны в аренду &amp;#128247; на корпоративное мероприятие и свадьбу в Москве с доставкой"/>
    <meta property="og:description"
          content="Заказать доставку фотобудки на свадьбу и мероприятие. &amp;#128248; Монтаж и оформление фотозон на день рождение и изготовление решений на заказ для корпоративных праздников."/>
    <meta property="og:image" content="{% static 'img/jpg/banner.jpg' %}"/>
    <meta property="og:url" content="http://fotobudka-v-arendu.ru/"/>
    <link rel="canonical" href="https://fotobudka-v-arendu.ru/"/>
{% endblock %}
{% block content %}
    <section class="banner">
        <div class="banner-images">
            <picture>
                <source media="(min-width: 960px)" srcset="{% static_webp 'img/jpg/banner.jpg' 90 %}"/>
                <source media="(min-width: 640px)" srcset="{% static_webp 'img/jpg/banner2.jpg' 90 %}"/>
                <source media="(max-width: 640px)" srcset="{% static_webp 'img/jpg/banner3.jpg' 90 %}"/>
                <img class="small-img" src="{% static_webp 'img/jpg/banner3.jpg' 90 %}" alt="Фотобудка в аренду"/>
            </picture>
        </div>
        <div class="banner-content">
            <h1>Фотобудка в аренду </h1>
            <p>
                Хотите устроить незабываемый праздник при минимальных финансовых и временных затратах?
                Фотобудка в аренду — идеальное решение, признанное стать памятным и оригинальным подарком
            </p>
            <div class="banner-links">
                <div class="main-btn catalog-btn">В каталог</div>
                <div class="white-btn index-btn show-video video-ym" data-src="https://www.youtube.com/embed/XB7nMUj7rdA">Смотреть видео</div>
            </div>
        </div>
    </section>
    <section class="main-info">
        <div class="container">
            <h2 class="section-title">Чем мы занимаемся?</h2>
            <div class="main-info-block">
                <div class="main-info-text">
                    <p class="pink-text">Сдаем в аренду:</p>
                    <ul>
                        <li>Фотозоны</li>
                        <li>Фотобудки</li>
                        <li>Press-wall</li>
                        <li>Интерактивные фотозоны</li>
                        <li>Bullet Time</li>
                        <li>Оборудование для дезинфекции</li>
                    </ul>
                </div>
                <div class="main-info-images">
                    <div class="swiper main-info-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="{% static_webp 'img/no-img.jpg' 90 %}" class="lozad" data-src="{% static_webp 'img/jpg/home-1.jpg' 90 %}" alt="Чем мы занимаемся?">
                            </div>
                            <div class="swiper-slide">
                                <img src="{% static_webp 'img/no-img.jpg' 90 %}" class="lozad" data-src="{% static_webp 'img/jpg/home-2.jpg' 90 %}" alt="Чем мы занимаемся?">
                            </div>
                            <div class="swiper-slide">
                                <img src="{% static_webp 'img/no-img.jpg' 90 %}" class="lozad" data-src="{% static_webp 'img/jpg/home-3.jpg' 90 %}" alt="Чем мы занимаемся?">
                            </div>
                            <div class="swiper-slide">
                                <img src="{% static_webp 'img/no-img.jpg' 90 %}" class="lozad" data-src="{% static_webp 'img/jpg/home-4.jpg' 90 %}" alt="Чем мы занимаемся?">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination main-info-pagination"></div>
                    <div class="swiper-button-prev main-info-prev"></div>
                    <div class="swiper-button-next main-info-next"></div>
                </div>
                <h3 class="main-info-title">
                    Основная наша цель –
                    <span class="pink">дарить</span>
                    приятные и запоминающие
                    <span class="pink">эмоции</span>
                    нашим клиентам!
                </h3>
            </div>
        </div>
    </section>
    {% include 'include/work.html' %}
    {% include 'include/category.html' %}
    {% include 'include/promotion.html' %}
    <section class="main-news">
        <div class="container">
            <h2 class="section-title">Реализованные проекты</h2>
            <div class="main-news-block">
                <div class="swiper news-slider">
                    <div class="swiper-wrapper">
                        {% for item in portfolio %}
                            <div class="swiper-slide">
                                <div class="news-item">
                                    <a href="{% url 'news_detail' item.slug %}" class="news-link"></a>
                                    <img class="lozad" src="{% static_webp 'img/no-img.jpg' 90 %}" data-src="{{ item.image_crop.url }}" alt="{% if item.alt %}{{ item.alt }}{% else %}{{ item.title }}{% endif %}">
                                    <div class="news-flex">
                                        <span class="news-category">{{ item.category.title }}</span>
                                        <span class="news-date">{{ item.date }}</span>
                                    </div>
                                    <div class="news-title">{{ item.title }}</div>
                                    <div class="news-text">
                                        <p>
                                            {{ item.description|safe|truncatechars_html:70 }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </section>
    {% if faq_main %}
        <section class="faq" id="faq">
            <div class="container">
                <h2 class="section-title">Вопросы-ответы</h2>
                <div class="accordion-list faq-list">
                    {% for item in faq_main %}
                        <div class="accordion-item">
                            <div class="accordion-title">{{ item.title }}</div>
                            <div class="accordion-body">
                                <p>
                                    {{ item.description|safe }}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}
    {% include 'include/feedback.html' %}
    <section class="seo">
        <div class="container">
            <h2 class="section-title">Выездные фотозоны и фотобудки</h2>
            <div class="seo-block">
                <img src="{% static_webp 'img/no-img.jpg' 90 %}" class="lozad" data-src="{% static_webp 'img/jpg/seo1.jpg' 90 %}" alt="seo">
                <div class="seo-text">
                    <p>
                        Фотозона со сменными декорациями – кабина, позволяющая
                        совершить качественные фотографии и распечатать их за
                        считанные секунды. Также получившиеся фото можно быстро
                        оформить или дополнить фирменным логотипом. По желанию
                        заказчика кабина также может быть оформлена в
                        соответствии с тематикой мероприятия.
                    </p>
                    <p>
                        Фотобудки от компании предлагают массу возможностей: от
                        замены заднего фона при помощи Хромакея до отправки фото
                        через электронную почту или социальную сеть. Также в
                        кабинах поддерживается качественная видеосъемка.
                    </p>
                </div>
            </div>
            <div class="seo-block">
                <img src="{% static_webp 'img/no-img.jpg' 90 %}" class="lozad" data-src="{% static_webp 'img/jpg/seo2.jpg' 90 %}" alt="seo">
                <div class="seo-text">

                    <h3>Широкий спектр развлечений</h3>
                    <p>
                        Фотобудки – источник множества полезных опций,
                        необходимых для незабываемого праздника. В стандартный
                        пакет услуги включены:
                    </p>
                    <ul>
                        <li>Печать фотографий в неограниченном количестве.</li>
                        <li>Брендирование фото</li>
                        <li>Сменный интерактивный фон Хромакей.</li>
                        <li>Комплект различного декора и бутафории.</li>
                    </ul>
                    <p>
                        Фотозона станет прекрасным решением для свадьбы,
                        корпоратива, дня рождения. Клиентам доступны услуги
                        профессионального видео, о
                        бработки и брендирования
                        фотографий. Кабинки дополнены шторками, что обеспечивает
                        гостям приватность и максимум комфорта.
                    </p>
                </div>
            </div>
            <div class="seo-block">
                <img src="{% static_webp 'img/no-img.jpg' 90 %}" class="lozad" data-src="{% static_webp 'img/jpg/seo3.jpg' 90 %}" alt="seo">
                <div class="seo-text">
                    <p>
                        Наша компания предлагает множество вариантов фотобудок на
                        совершенно любые вкус и бюджет. Доступны различные фоны и
                        кабины, оборудованные студийным освещением, зеркальной
                        фотокамерой и необходимым оборудованием.
                    </p>
                    <h3>Преимущества фотобудок</h3>
                    <p>За скромную цену заказчики получают:</p>
                    <ul>
                        <li>Вместительные кабинки с широким функционалом.</li>
                        <li>Приятный внешний вид устройств, привлекающий
                            эстетикой и продуманной эргономикой.
                        </li>
                        <li>Безграничные возможности уникализации мероприятия:
                            будку можно оформить под совершенно любое торжество.
                        </li>
                        <li>Синхронизацию кабины со всеми популярными
                            социальными сетями.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="seo-block">
                <img src="{% static_webp 'img/no-img.jpg' 90 %}" class="lozad" data-src="{% static_webp 'img/jpg/seo4.jpg' 90 %}" alt="seo">
                <div class="seo-text">
                    <ul>
                        <li>Профессиональную фотокамеру и сенсорный экран.</li>
                        <li>Моментальную печать на термопринтере.</li>
                        <li>Индивидуальный подход и внимание к деталям.</li>
                    </ul>
                    <p>
                        Заказать аренду фотобудки – прекрасная идея вне
                        зависимости от характера события. Мастер компании Х
                        сделает все для того, чтобы арендуемая фотозона привела
                        в восторг каждого гостя!
                    </p>
                    <p>
                        Получить подробности об услуге и уточнить условия
                        доставки фотозоны можно на нашем сайте, а также по
                        указанному номеру.
                    </p>
                </div>
            </div>
        </div>
    </section>
    {% include 'include/contacts.html' %}

{% endblock %}
