{% extends 'base/base.html' %}
{% load staticfiles %}
{% block meta %}
    <title itemprop="headline">Новости компании Фотобудка в аренду</title>
    <meta itemprop="description" name="description"
          content="Здесь вы сможете узнать много интересного о жизни компании и проведенных мероприятиях. Множество различных фотоактивностей и счастливых гостей."/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Новости компании Фотобудка в аренду"/>
    <meta property="og:description" content="Здесь вы сможете узнать много интересного о жизни компании и проведенных мероприятиях. Множество различных фотоактивностей и счастливых гостей."/>
    <meta property="og:url" content="http://fotobudka-v-arendu.ru/news"/>
    <link rel="canonical" href="https://fotobudka-v-arendu.ru/news"/>
{% endblock %}

{% block content %}
    <section class="portfolio">
        <div class="container">
            <h1 class="section-title">Новости</h1>
            <div class="portfolio-list">
                {% for item in news_list %}
                    <div class="news-item">
                        <a href="{% url 'news_detail' item.slug %}" class="news-link"></a>
                        <img src="{{ item.image_crop.url }}" alt="{% if item.alt %}{{ item.alt }}{% else %}{{ item.title }}{% endif %}">
                        <div class="news-flex">
                            <span class="news-category">{{ item.category.title }}</span>
                            <span class="news-date">{{ item.date }}</span>
                        </div>
                        <div class="news-title">{{ item.title }}</div>
                        <div class="news-text">
                            <p>
                                {{ item.description|safe|truncatechars_html:70 }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% include 'include/feedback.html' %}
    {% include 'include/contacts.html' %}
{% endblock %}