{% extends 'base/base.html' %}
{% load staticfiles %}
{% block meta %}
    <title itemprop="headline">{{ meta.title }}</title>
    <meta itemprop="description" name="description" content="{{ meta.description }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ meta.title }}"/>
    <meta property="og:description" content="{{ meta.description }}"/>
    <meta property="og:image" content="{{ news.image_crop_big.url }}"/>
    <meta property="og:url" content="http://fotobudka-v-arendu.ru/news/{{ news.slug }}"/>
    <link rel="canonical" href="https://fotobudka-v-arendu.ru/news/{{ news.slug }}"/>
{% endblock %}
{% block header %}
    {% include 'include/header.html' %}
{% endblock %}

{% block content %}
    <section class="portfolio-detail" itemid="http://fotobudka-v-arendu.ru/news/{{ news.slug }}" itemscope itemtype="http://schema.org/BlogPosting">
        <div class="container">
            <div class="crumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">

                <ul class="crumb-block">
                    <li class="crumb-item" itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                        <a itemprop="item" href="{% url 'main' %}">
                            <span itemprop="name">Главная</span>
                        </a>
                        <meta itemprop="position" content="1"/>
                    </li>
                    <li class="crumb-item" itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                        <a itemprop="item" href="{% url 'news' %}">
                            <span itemprop="name">Новости</span>
                        </a>
                        <meta itemprop="position" content="2"/>
                    </li>
                    <li class="crumb-item last" itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                        <span itemprop="item name">{{ news.title }}</span>
                        <meta itemprop="position" content="3"/>
                    </li>
                </ul>
            </div>
            <div class="portfolio-detail-flex">
                <div class="portfolio-detail-images">
                    <div class="swiper portfolio-detail-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img itemprop="image" src="{{ news.image_crop_big.url }}" alt="{% if news_item.alt %}{{ news_item.alt }}{% else %}{{ news_item.title }}{% endif %}"/>
                            </div>
                            {% for slide in news.slider.all %}
                                <div class="swiper-slide">
                                    <img src="{{ slide.image_crop.url }}" alt="{% if news_item.alt %}{{ news_item.alt }}{% else %}{{ news_item.title }}{% endif %}"/>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="swiper-button-prev portfolio-detail-prev"></div>
                    <div class="swiper-button-next portfolio-detail-next"></div>
                    <div class="swiper-pagination portfolio-detail-pagination"></div>
                </div>
                <div class="portfolio-detail-content">
                    <div class="portfolio-detail-category" itemprop="articleSection">{{ news.category.title }}</div>
                    <h1 itemprop="headline">{{ news.title }}</h1>
                    <div class="portfolio-detail-date">
                        <time itemprop="datePublished" datetime="{{ news.date|date:"Y-m-d" }}">{{ news.date }}</time>
                    </div>
                    <article itemprop="articleBody">
                        <div class="portfolio-detail-text">
                            {{ news.description|safe }}
                        </div>
                    </article>
                </div>
            </div>
            <meta itemprop="author" content="Фотобудка в аренду">
            <meta itemprop="mainEntityOfPage" content="https://fotobudka-v-arendu.ru/news/{{ news.slug }}">
            <meta itemprop="dateModified" content="{{ news.date|date:"Y-m-d" }}">

            <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
                <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                    <img itemprop="url image" src="https://fotobudka-v-arendu.ru/static/img/svg/logo.svg"
                         style="display:none;"/>
                </div>
                <meta itemprop="name" content="Фотобудка в аренду">
                <meta itemprop="telephone" content="+7 999 333 12 67">
                <meta itemprop="address" content="Москва, пр. Егорьевский, д.2а, стр.10">
            </div>
        </div>
    </section>
    {% include 'include/category.html' %}
    {% include 'include/feedback.html' %}
    {% include 'include/contacts.html' %}
{% endblock %}