{% extends 'base/base.html' %}
{% load staticfiles %}
{% load webp_converter %}
{% load widget_tweaks %}
{% load my_filters %}
{% block meta %}
    <title itemprop="headline">{{ meta.title }}</title>
    <meta itemprop="description" name="description" content="{{ meta.description }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ meta.title }}"/>
    <meta property="og:description" content="{{ meta.description }}"/>
    <meta property="og:image" content="{{ product.slider.first.image.url }}"/>
    {% if product.category_slug %}
        <meta property="og:url" content="http://fotobudka-v-arendu.ru{% url 'product' product.category_slug.slug product.slug %}"/>
        <link rel="canonical" href="https://fotobudka-v-arendu.ru{% url 'product' product.category_slug.slug product.slug %}"/>
    {% else %}
        <meta property="og:url" content="http://fotobudka-v-arendu.ru{% url 'product' product.category.first.slug product.slug %}"/>
        <link rel="canonical" href="https://fotobudka-v-arendu.ru{% url 'product' product.category.first.slug product.slug %}"/>
    {% endif %}
{% endblock %}
{% block content %}
    {% in_cart request product as check_product_in_cart %}
    {% product_in_cart request product as product_in_cart %}
    <section class="product-detail">
        <div class="container">
            <div class="crumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                <ul class="crumb-block">
                    <li class="crumb-item" itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                        <a itemprop="item" href="{% url 'main' %}">
                            <span itemprop="name">Главная</span>
                        </a>
                        <meta itemprop="position" content="1"/>
                    </li>
                    <li class="crumb-item" itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                        {% get_prev_url request product.id as my_category %}
                        {% if my_category %}
                            <a itemprop="item" href="{% url 'category' my_category.slug %}">
                                <span itemprop="name">{{ my_category.title }}</span>
                            </a>
                        {% else %}
                            {% if product.category_slug %}
                                <a itemprop="item" href="{% url 'category' product.category_slug.slug %}">
                                    <span itemprop="name">{{ product.category_slug.title }}</span>
                                </a>
                            {% else %}
                                <a itemprop="item" href="{% url 'category' product.category.first.slug %}">
                                    <span itemprop="name">{{ product.category.first.title }}</span>
                                </a>
                            {% endif %}
                        {% endif %}
                        <meta itemprop="position" content="2"/>
                    </li>
                    <li class="crumb-item last" itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                        <span itemprop="item name">{{ product.title }}</span>
                        <meta itemprop="position" content="3"/>
                    </li>
                </ul>
            </div>
            <div class="product-detail-title">
                <h1>{{ product.title }}</h1>
                <div class="favorite favorite-js {% if request|in_favorite:product.id %}active{% endif %}" data-id="{{ product.id }}"></div>
            </div>
            <div class="product-detail-images">
                <div class="swiper product-detail-slider">
                    <div class="swiper-wrapper">
                        {% if product.video %}
                            <div class="swiper-slide video">
                                <div class="preview video-ym">
                                    {% if product.preview %}
                                        <img src="{{ product.preview_crop.url }}" alt="{% if product.alt %}{{ product.alt }}{% else %}{{ product.title }}{% endif %}">
                                    {% else %}
                                        <img src="{% static 'img/jpg/category.jpg' %}" alt="">
                                    {% endif %}
                                </div>
                                <iframe src='' data-src="{{ product.video }}?autoplay=1"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                            </div>
                        {% endif %}
                        {% for slide in slider %}
                            <div class="swiper-slide">
                                <img src="{% if slide.is_gif %}{{ slide.image.url }}{% else %}{{ slide.image_crop_big.url }}{% endif %}" alt="{% if slide.alt %}{{ slide.alt }}{% else %}{{ product.title }}{% endif %}"/>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="swiper-button-prev product-detail-prev"></div>
                <div class="swiper-button-next product-detail-next"></div>
                <div class="swiper-pagination product-detail-pagination"></div>
            </div>
            <div class="product-detail-text">
                <div class="product-detail-description">Описание</div>
                {% if product.text %}
                    {{ product.text|safe }}
                {% else %}
                    {{ product.description|safe }}
                {% endif %}
            </div>
            {% if brand %}
                <h2 class="product-block-title">{{ brand.title }}</h2>
                <div class="product-brand-images">
                    <div class="swiper product-brand-slider">
                        <div class="swiper-wrapper">
                            {% for item in brand.brand.all %}
                                <div class="swiper-slide show-image" data-src="{{ item.image.url }}">
                                    <div class="product-brand-img">
                                        <img class="swiper-lazy " src="{% static_webp 'img/no-img.jpg' 90 %}" data-src="{{ item.image_crop.url }}" alt="{% if item.alt %}{{ item.alt }}{% else %}{{ brand.title }}{% endif %}">
                                        <div class="swiper-lazy-preloader"></div>
                                    </div>
                                    {% if item.title or item.text %}
                                        <div class="product-brand-description">
                                            {% if item.title %}
                                                <h3>{{ item.title }}</h3>
                                            {% endif %}
                                            {% if item.text %}
                                                <p>{{ item.text }}</p>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="swiper-pagination product-brand-pagination"></div>
                    <div class="swiper-button-prev product-brand-prev"></div>
                    <div class="swiper-button-next product-brand-next"></div>
                </div>
            {% endif %}
        </div>
    </section>
    <div class="product-properties product" data-id="{{ product.id }}">
        <div class="container">
            <div class="product-properties-block">
                {% if product.size.all %}
                    <div class="product-property-item">
                        <span class="product-property-title">Размер</span>
                        <div class="size">
                            {% for item in product.size.all %}
                                <label class="size__item size-item {% if check_product_in_cart %} {% if product_in_cart.size_price == item.price|floatformat %} active {% endif %}
                                           {% else %} {% if forloop.first %} active {% endif %} {% endif %}">
                                    <span> {{ item.size }}</span>
                                    <input class="size-input" name="size" type="radio" value="{{ item.price|floatformat }}"
                                            {% if check_product_in_cart %} {% if product_in_cart.size_price == item.price|floatformat %} checked="checked" {% endif %}
                                            {% else %} {% if forloop.first %} checked="checked" {% endif %} {% endif %}/>
                                </label>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                <div class="product-property-item">
                    <span class="product-property-title">Время аренды</span>
                    <div class="time times-list" data-product-id="{{ product.id }}">
                        <label class="time__item time-item {% if check_product_in_cart %}{% if product_in_cart.time_price == product.price1|floatformat %}active{% endif %}{% else %}active{% endif %}">
                            <span>1 ч</span>
                            <input class="time-input" data-time="1 час" value="{{ product.price1|floatformat }}" type="text" name="time" hidden='hidden'>
                        </label>
                        <label class="time__item time-item {% if check_product_in_cart and product_in_cart.time_price == product.price2|floatformat %}active{% endif %}">
                            <span>2 ч</span>
                            <input class="time-input" data-time="2 часа" value="{{ product.price2|floatformat }}" type="text" name="time" hidden='hidden'>
                        </label>
                        <label class="time__item time-item {% if check_product_in_cart and product_in_cart.time_price == product.price3|floatformat %}active{% endif %}">
                            <span>3 ч</span>
                            <input class="time-input" data-time="3 часа" value="{{ product.price3|floatformat }}" type="text" name="time" hidden='hidden'>
                        </label>
                        <label class="time__item time-item {% if check_product_in_cart and product_in_cart.time_price == product.price4|floatformat %}active{% endif %}">
                            <span>5 ч</span>
                            <input class="time-input" data-time="5 часов" value="{{ product.price4|floatformat }}" type="text" name="time" hidden='hidden'>
                        </label>
                        <label class="time__item time-item {% if check_product_in_cart and product_in_cart.time_price == product.price5|floatformat %}active{% endif %}">
                            <span>2 дн</span>
                            <input class="time-input" data-time="2 дня" value="{{ product.price5|floatformat }}" type="text" name="time" hidden='hidden'>
                        </label>
                        <label class="time__item time-item {% if check_product_in_cart and product_in_cart.time_price == product.price6|floatformat %}active{% endif %}">
                            <span>3 дн</span>
                            <input class="time-input" data-time="3 дня" value="{{ product.price6|floatformat }}" type="text" name="time" hidden='hidden'>
                        </label>
                    </div>
                </div>
                <div class="product-property-item">
                    <span class="product-property-title price-title">Стоимость</span>
                    <div class="product-price-block">
                        <span class="form-product-price product-price price-js"
                              data-price="{% if check_product_in_cart %}{{ product_in_cart.product_price_total }}{% else %}{{ product.price1|floatformat }}{% endif %}"
                              data-total-price="{% if check_product_in_cart %}{{ product_in_cart.total }}{% else %}{{ product.price1|floatformat }}{% endif %}">
                            {% if check_product_in_cart %}{{ product_in_cart.total }}{% else %}{{ product.price1|floatformat }}{% endif %}</span>
                        <span class="rub">₽</span>
                    </div>
                </div>
                <div class="product-property-item property-buttons">
                    <div class="favorite favorite-js {% if request|in_favorite:product.id %}active{% endif %}" data-id="{{ product.id }}"></div>
                    <div class="main-btn add-cart {% if check_product_in_cart %}active{% endif %}">{% if check_product_in_cart %}Перейти в корзину{% else %}Добавить{% endif %}</div>
                </div>
            </div>
        </div>
    </div>
    <section class="options" data-product-id="{{ product.id }}">
        <div class="container">
            <h2 class="product-block-title">С этим товаром заказывают</h2>
            <div class="option-sort-block">
                <div class="options-sort">
                    <div class="options-sort-item active" data-id="all">Все</div>
                    <div class="options-sort-item" data-id="0">Персонал</div>
                    <div class="options-sort-item" data-id="2">Оборудование</div>
                    <div class="options-sort-item" data-id="1">Декор</div>
                    <div class="options-sort-item" data-id="3">Услуги</div>
                    <div class="options-sort-item" data-id="4">Остальное</div>
                </div>
            </div>
            <div class="options-list">
                <div class="swiper options-slider">
                    <div class="swiper-wrapper">
                        {% include 'include/options.html' with options=product.services.all product=product %}
                    </div>
                </div>
                <div class="swiper-button-prev options-prev"></div>
                <div class="swiper-button-next options-next"></div>
            </div>
        </div>
    </section>
    {% include 'include/files.html' %}
    {% include 'include/recommendation.html' %}
    {% include 'include/feedback.html' %}
    {% if seo %}
        <section class="seo-product">
            <div class="container">
                <div class="seo-container">
                    {{ seo.text|safe }}
                </div>
            </div>
        </section>
    {% endif %}
    {% include 'include/contacts.html' %}
{% endblock %}
{% block js %}
{% endblock %}