{% extends 'base/base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load webp_converter %}
{% load my_filters %}
{% block meta %}
    <title itemprop="headline">{{ meta.title }}</title>
    <meta itemprop="description" name="description" content="{{ meta.description }}"/>
    <link rel="preload" href="{{ category.image.url }}" as="image" type="image/jpeg" media="only screen and (max-width: 48rem)"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ meta.title }}"/>
    <meta property="og:description" content="{{ meta.description }}"/>
    <meta property="og:image" content="{{ category.image_crop.url }}"/>
    <meta property="og:url" content="http://fotobudka-v-arendu.ru/{{ category.slug }}"/>
    <link rel="canonical" href="https://fotobudka-v-arendu.ru/{{ category.slug }}"/>
{% endblock %}
{% block content %}
    <section class="category-banner block-hide">
        <div class="container">
            <div class="category-banner-flex">
                <div class="category-banner-image">
                    <img src="{{ category.image.url }}" alt="{% if category.alt %}{{ category.alt }}{% else %}{{ category.title }}{% endif %}">
                </div>
                <div class="category-banner-content">
                    <h1>{{ category.title }} </h1>
                    <p>{{ category.text|safe }}</p>
                    <div class="category-banner-links">
                        <div class="main-btn products-btn select-ym">{% if category.btn_text %}{{ category.btn_text }}{% else %}Выбрать{% endif %} </div>
                        {% if category.video %}
                            <div class="white-btn border show-video video-ym" data-src="{{ category.video }}">Смотреть видео</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% if about %}
        <section class="main-info block-hide">
            <div class="container">
                <h2 class="section-title">{{ about.title }}</h2>
                <div class="main-info-block">
                    <div class="main-info-text">
                        {{ about.description|safe }}
                    </div>
                    <div class="main-info-images">
                        {% if about.image4 %}
                            <div class="swiper main-info-slider">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <img class="lozad" src="{% static_webp 'img/no-img.jpg' 90 %}" data-src="{{ about.image1_crop.url }}"
                                             alt="{% if about.alt1 %}{{ about.alt1 }}{% else %}{{ about.title }}{% endif %}">
                                    </div>

                                    <div class="swiper-slide">
                                        <img class="lozad" src="{% static_webp 'img/no-img.jpg' 90 %}" data-src="{{ about.image2_crop.url }}"
                                             alt="{% if about.alt2 %}{{ about.alt2 }}{% else %}{{ about.title }}{% endif %}">
                                    </div>
                                    <div class="swiper-slide">
                                        <img class="lozad" src="{% static_webp 'img/no-img.jpg' 90 %}" data-src="{{ about.image3_crop.url }}"
                                             alt="{% if about.alt3 %}{{ about.alt3 }}{% else %}{{ about.title }}{% endif %}">
                                    </div>
                                    <div class="swiper-slide">
                                        <img class="lozad" src="{% static_webp 'img/no-img.jpg' 90 %}" data-src="{{ about.image4_crop.url }}"
                                             alt="{% if about.alt4 %}{{ about.alt4 }}{% else %}{{ about.title }}{% endif %}">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-pagination main-info-pagination"></div>
                            <div class="swiper-button-prev main-info-prev"></div>
                            <div class="swiper-button-next main-info-next"></div>
                        {% else %}
                            <img class="lozad" src="{% static_webp 'img/no-img.jpg' 90 %}" data-src="{{ about.image1_crop.url }}"
                                 alt="{% if about.alt1 %}{{ about.alt1 }}{% else %}{{ about.title }}{% endif %}">
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
    {% if work %}
        <section class="work block-hide">
            <div class="container">
                <h2 class="section-title">Как работает?</h2>
                <div class="work-list">
                    <div class="work-item">
                        <span>1</span>
                        <p>
                            {{ work.text1 }}
                        </p>
                    </div>
                    <div class="work-item">
                        <span>2</span>
                        <p>
                            {{ work.text2 }}
                        </p>
                    </div>
                    <div class="work-item">
                        <span>3</span>
                        <p>
                            {{ work.text3 }}
                        </p>
                    </div>
                    <div class="work-item">
                    <span>
                        <img class="lozad" data-src="{% static 'img/svg/check-white.svg' %}" alt="">
                    </span>
                        <p>
                            {{ work.text4 }}
                        </p>
                    </div>
                </div>
            </div>
        </section>
    {% else %}
        {% include 'include/work.html' %}
    {% endif %}

    {% if event %}
        <section class="event-example block-hide">
            <div class="container">
                <h2 class="section-title">{{ event.title }} </h2>
                <div class="event-example-images">
                    <div class="swiper event-example-slider">
                        <div class="swiper-wrapper">
                            {% for image in event.event_images.all %}
                                <div data-src="{{ image.image.url }}"
                                     class="swiper-slide show-image  {% if forloop.counter == 1 or forloop.counter == 8 %} r3 {% elif forloop.counter == 2 or forloop.counter == 3 or forloop.counter == 5 or forloop.counter == 7 %} r2 {% elif  forloop.counter == 4 or forloop.counter == 6 %} r1 {% endif %}">
                                    <img class="lozad" src="{% static_webp 'img/no-img.jpg' 90 %}" data-src="{{ image.image.url }}"
                                         alt="{% if image.alt %}{{ image.alt }}{% else %}{{ event.title }}{% endif %}">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="swiper-pagination event-example-pagination"></div>
                </div>
            </div>
        </section>
    {% endif %}
    <section class="catalog product-section" id="products" data-category="{{ category.id }}">
        <div class="container">
            <h2 class="section-title">{{ category.subtitle }} </h2>
            <div class="catalog-filter-fixed">
                <div class="container">
                    <div class="catalog-flex">
                        <span class="catalog-sort-default">Сортировка</span>
                        {% if category.children.all or category.parent %}
                            <div class="catalog-filter-default">Фильтр</div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="catalog-sort-block">
                <div class="catalog-flex">
                    <div class="catalog-sort">
                        <span class="catalog-default catalog-sort-default">Сортировка</span>
                        <div class="catalog-sort-list">
                            <div class="catalog-sort-item desktop-max-price max-price {% if sort_value == '-price1' %}active{% endif %}">Сначала дорогие</div>
                            <div class="catalog-sort-item desktop-min-price min-price {% if sort_value == 'price1' %}active{% endif %}">Сначала дешевые</div>
                        </div>
                    </div>
                    <div class="catalog-modal-fixed catalog-sort-fixed">
                        <div class="catalog-modal-content">
                            <span class="catalog-sort-default pink">Сортировка</span>
                            <div class="catalog-modal-close"></div>
                            <div class="catalog-modal-list">
                                <a href="" class="events-item mobile-max-price max-price {% if sort_value == '-price1' %}active{% endif %}">Сначала дорогие</a>
                                <a href="" class="events-item mobile-min-price min-price {% if sort_value == 'price1' %}active{% endif %}">Сначала дешевые</a>
                            </div>
                        </div>
                    </div>
                    {% if category.children.all or category.parent %}
                        <div class="catalog-filter">
                            <div class="catalog-filter-default">Фильтр</div>
                            <div class="catalog-modal-fixed catalog-filters-fixed">
                                <div class="catalog-modal-content">
                                    <div class="catalog-modal-close"></div>
                                    <div class="catalog-filter-default pink">Фильтр</div>
                                    <div class="catalog-modal-list">
                                        {% if category.children.all %}
                                            <span class="events-item active "> {% if category.tab_title %}{{ category.tab_title }}{% else %}{{ category.title_main }}{% endif %}</span>
                                            {% category_order category.children.all as category_children %}
                                            {% for item in category_children %}
                                                <a href="{% url 'category' item.slug %}" class="events-item">{% if item.tab_title %}{{ item.tab_title }}{% else %}{{ item.title_main }}{% endif %}</a>
                                            {% endfor %}
                                        {% endif %}

                                        {% if category.parent %}
                                            <a href="{% url 'category' category.parent.slug %}" class="events-item">
                                                {% if category.parent.tab_title %} {{ category.parent.tab_title }}{% else %}{{ category.parent.title_main }}{% endif %}
                                            </a>
                                            {% category_order category.parent.children.all as category_parent %}
                                            {% for item in category_parent %}
                                                {% if item.title_main == category.title_main %}
                                                    <span class="events-item active">{% if item.tab_title %}{{ item.tab_title }}{% else %}{{ item.title_main }}{% endif %}</span>
                                                {% else %}
                                                    <a href="{% url 'category' item.slug %}" class="events-item">
                                                        {% if item.tab_title %}{{ item.tab_title }}{% else %}{{ item.title_main }}{% endif %}</a>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="catalog-list product-cart-block">
                {% include 'include/product-item.html' with products=products %}
            </div>
            {% if products.has_other_pages %}
                {% if products.has_next %}
                    {% if page_nav != 'last' and page_nav != 0 %}
                        <div class="white-btn border show-more" data-count="2">Показать еще</div>
                    {% endif %}
                {% endif %}
                <div class="pagination catalog-pagination" data-end="{{ products.end_index }}">
                    {% if products.has_previous %}
                        <a class="catalog-prev {{ products.previous_page_number }}" href="?page={{ products.previous_page_number }}"></a>
                    {% else %}
                        <a class="catalog-prev disabled"></a>
                    {% endif %}
                    {% for i in products.paginator.page_range %}
                        {% if products.number == i %}
                            <a data-page="{{ i }}" class="catalog-page {{ i }} active {% if forloop.first %}page-first{% endif %} {% if forloop.last %}page-last{% endif %}"
                               href="?page={{ i }}">{{ i }}</a>
                        {% else %}
                            <a data-page="{{ i }}" class="catalog-page {{ i }} {% if forloop.first %}page-first{% endif %} {% if forloop.last %}page-last{% endif %}" href="?page={{ i }}">{{ i }}</a>
                        {% endif %}
                    {% endfor %}
                    {% if products.has_next %}
                        <a class="catalog-next {{ products.next_page_number }}" href="?page={{ products.next_page_number }}"></a>
                    {% else %}
                        <a class="catalog-next  disabled"></a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </section>
    {% if faq %}
        <section class="faq" id="faq">
            <div class="container">
                <h2 class="section-title">Вопросы-ответы</h2>
                <div class="accordion-list faq-list">
                    {% for item in faq %}
                        <div class="accordion-item">
                            <div class="accordion-title">{{ item.title }}</div>
                            <div class="accordion-body">
                                {{ item.description|safe }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}
    {% include 'include/feedback.html' %}
    {% if seo %}
        <section class="seo">
            <div class="container">
                {% for item in  seo %}
                    <div class="seo-block">
                        <img src="{% static_webp 'img/no-img.jpg' 90 %}" class="lozad" data-src="{{ item.image.url }}" alt="{% if item.alt %}{{ item.alt }}{% else %}seo{% endif %}">
                        <div class="seo-text">
                            {{ item.text|safe }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    {% endif %}
    {% include 'include/contacts.html' %}
{% endblock %}
{% block js %}
    <script>
        let thisPage = '1';
        if (window.location.search) {
            thisPage = window.location.search.split('=')[1];
            document.querySelectorAll('.block-hide').forEach(function (el, i) {
                document.querySelectorAll('.block-hide')[i].style.display = 'none';
            })
        }
        if (document.querySelector('.show-more')) {
            document.querySelector('.show-more').addEventListener('click', function () {
                let category_id = document.querySelector('.product-section').getAttribute('data-category');

                let request = new XMLHttpRequest();
                let page = '2';
                if (document.querySelector('.page-last').getAttribute('data-page') > thisPage && document.querySelector('.show-more').getAttribute('data-count') <= thisPage) {
                    page = parseInt(thisPage) + 1;
                } else {
                    page = document.querySelector('.show-more').getAttribute('data-count');
                }
                request.open('GET', '/pagination/?category_id=' + category_id + '&page=' + page, true);
                request.send();

                request.onreadystatechange = function () {
                    if (request.readyState === 4) {
                        if (request.status === 200 && request.status < 300) {
                            document.querySelector('.show-more').setAttribute('data-count', parseInt(page) + 1);
                            document.querySelector(".product-cart-block").insertAdjacentHTML('beforeend', request.response);
                            document.querySelectorAll('.catalog-page').forEach(function (el, i) {
                                document.querySelectorAll('.catalog-page')[i].classList.remove('active');
                                if (document.querySelectorAll('.catalog-page')[i].classList.contains(page)) {
                                    document.querySelectorAll('.catalog-page')[i].classList.add('active')
                                }
                            });
                            if (document.querySelector('.catalog-next').classList.contains(page)) {
                                document.querySelector('.catalog-next').classList.add('disabled')
                            }
                            if (document.querySelector('.catalog-prev')) {
                                document.querySelector('.catalog-prev').classList.remove('disabled');
                                document.querySelector('.catalog-prev').setAttribute('href', '?page=' + (parseInt(page) - 1));

                            }
                            if (document.querySelector('.page-last').getAttribute('data-page') === page) {
                                document.querySelector('.show-more').style.display = 'none';
                            }
                            initSlider();
                        } else {
                            alert('Что то пошло не так, перезагрузите страницу')
                        }
                    }
                };
            })
        }
    </script>
{% endblock %}